Repository alexthemitchell/rad.io: changes, and which Codecov flags are due for each by the changed paths.
All: utils, models, components, hooks

Update src/components/FrequencyDisplay.tsx
  src/components/FrequencyDisplay.tsx
Due: components

More resolution
  src/components/FrequencyDisplay.tsx
  src/components/InteractiveDSPPipeline.tsx
  src/components/Navigation.tsx
  src/components/__tests__/FrequencyDisplay.test.tsx
  src/pages/Help.tsx
  src/pages/Settings.tsx
  src/panels/Bookmarks.tsx
  src/utils/__tests__/id.test.ts
  src/utils/id.ts
  src/utils/index.ts
Due: utils, components

More implementation
  src/pages/Decode.tsx
  src/pages/__tests__/Calibration.test.tsx
  src/pages/__tests__/Help.test.tsx
  src/pages/__tests__/Recordings.test.tsx
  src/pages/__tests__/Settings.test.tsx
  src/pages/__tests__/Visualizer.test.tsx
  src/panels/Diagnostics.tsx
  src/panels/__tests__/Bookmarks.test.tsx
  src/panels/__tests__/Devices.test.tsx
  src/panels/__tests__/Measurements.test.tsx
Due: none

Tests
  .serena/memories/TEST_COVERAGE_ENFORCEMENT.md
  docs/UI-DESIGN-SPEC.md
  docs/decisions/0019-viridis-colormap-waterfall-visualization.md
  src/utils/__tests__/dsp.test.ts
  src/utils/__tests__/exportUtils.test.ts
  src/utils/__tests__/frequency.test.ts
  src/utils/__tests__/logger.test.ts
  src/utils/__tests__/performanceMonitor.test.ts
Due: utils

Fixes
  src/hooks/index.ts
  src/hooks/useSpeaker.ts
  src/pages/Visualizer.tsx
  src/pages/__tests__/Monitor.test.tsx
Due: hooks

Resolve comments
  .serena/memories/ADR_0002_0012_WORKER_POOLS_IMPLEMENTATION.md
  .serena/memories/ADR_0018_PAGE_ARCHITECTURE_IMPLEMENTATION.md
  .serena/memories/CI_QUALITY_GATES_SUMMARY.md
  .serena/memories/HACKRF_PROTECTIVE_MEASURES_IMPLEMENTATION.md
  .serena/memories/WATERFALL_DISPLAY_IMPLEMENTATION.md
  .serena/memories/WEBGPU_VISUALIZATION_IMPLEMENTATION.md
  src/pages/__tests__/Visualizer.test.tsx
  src/panels/Diagnostics.tsx
  src/utils/frequency.ts
Due: utils

Update src/panels/Bookmarks.tsx
  src/panels/Bookmarks.tsx
Due: none

Update src/components/Navigation.tsx
  src/components/Navigation.tsx
Due: components

More checks
  .github/copilot-instructions.md
  .github/workflows/quality-checks.yml
  .gitignore
  .serena/memories/WASM_DSP_RUNTIME_FLAGS.md
  assembly/dsp.ts
  docs/UI-DESIGN-SPEC.md
  eslint.config.mjs
  package.json
  src/components/FrequencyDisplay.tsx
  src/components/Navigation.tsx
  src/contexts/DeviceContext.tsx
  src/panels/Bookmarks.tsx
  src/styles/main.css
  src/styles/tokens.css
  src/utils/__tests__/SPEECH_END_TO_END_TESTS.md
  src/utils/__tests__/dsp.calculateFFTSync.fallback.test.ts
  src/utils/__tests__/dsp.wasmPath.test.ts
  src/utils/__tests__/speechEndToEnd.test.ts
  src/utils/__tests__/speechRecognition.branches.test.ts
  src/utils/__tests__/speechRecognition.test.ts
  src/utils/dsp.ts
  src/utils/dspWasm.ts
  src/utils/index.ts
Due: utils, components

Lint
  .github/workflows/deploy-pages.yml
  .serena/memories/BOOKMARKS_DEVICES_PANEL_PATTERNS.md
  .serena/memories/DOC_LINKS_ADR.md
  .serena/memories/DOC_LINKS_INDEX.md
  .serena/memories/DOC_LINKS_PRD.md
  .serena/memories/DOC_LINKS_REFERENCE.md
  .serena/memories/ESLINT_FLAT_CONFIG_TYPESCRIPT_PLUGIN_MAPPING.md
  .serena/memories/PHASE_2_INTELLIGENCE_IMPLEMENTATION.md
  .serena/memories/PHASE_3_MEASUREMENT_TOOLS_IMPLEMENTATION.md
  .serena/memories/REACT_ROUTER_NAVIGATION_PATTERNS.md
  .serena/memories/SHARED_DEVICE_CONTEXT_PATTERN.md
  .serena/memories/STATUS_BAR_SYSTEM_METRICS_IMPLEMENTATION.md
  .serena/memories/WASM_DSP_RUNTIME_FLAGS.md
  eslint.config.mjs
  src/styles/main.css
  src/utils/__tests__/performanceMonitor.test.ts
Due: utils

Only lint src
  package.json
Due: none

Refactor HackRF driver code into dedicated src/hackrf/ module (#99)
  .serena/memories/PHASE_3_MEASUREMENT_TOOLS_IMPLEMENTATION.md
  .serena/memories/STATUS_BAR_SYSTEM_METRICS_IMPLEMENTATION.md
  src/hackrf/DeviceInfo.ts
  src/hackrf/HackRFOne.ts
  src/hackrf/HackRFOneAdapter.ts
  src/hackrf/StreamOptions.ts
  src/hackrf/__tests__/HackRFOne.test.ts
  src/hackrf/constants.ts
  src/hackrf/hooks/useHackRFDevice.ts
  src/hackrf/index.ts
  src/hackrf/poll.ts
  src/hackrf/util.ts
  src/hooks/index.ts
  src/models/index.ts
  src/pages/Analysis.tsx
  src/pages/LiveMonitor.tsx
  src/pages/Scanner.tsx
  src/pages/Visualizer.tsx
Due: none

Update src/hackrf/HackRFOne.ts
  src/hackrf/HackRFOne.ts
Due: none

E2E
  .github/copilot-instructions.md
  .github/workflows/e2e.yml
  .gitignore
  .serena/memories/JEST_MEMORY_PLAYBOOK.md
  .serena/memories/PLAYWRIGHT_E2E_HARDWARE_AND_MOCK.md
  assembly/dsp.ts
  assembly/index.ts
  docs/decisions/0020-e2e-testing-hardware-mock.md
  docs/e2e-tests.md
  e2e/accessibility.spec.ts
  e2e/monitor-mock.spec.ts
  e2e/monitor-real.spec.ts
  playwright.config.ts
  src/App.tsx
  src/components/TopAppBar.tsx
  src/contexts/DeviceContext.tsx
  src/models/MockSDRDevice.ts
  src/pages/LiveMonitor.tsx
  src/pages/Monitor.tsx
  src/pages/__tests__/LiveMonitor.test.tsx
  src/utils/__tests__/dsp.calculateSpectrogram.fallback.test.ts
  src/utils/__tests__/dsp.calculateSpectrogram.rowwiseWasmFallback.test.ts
  src/utils/__tests__/dspWasm.binding.spectrogram.test.ts
  src/utils/__tests__/dspWasm.binding.waveformOut.test.ts
  src/utils/dsp.ts
  src/utils/dspWasm.ts
  src/utils/e2e.ts
Due: utils, models, components

chore: finalize PR feedback fixes; add DSP degenerate range comments; verify lint/type/build/E2E
  .github/workflows/e2e.yml
  assembly/dsp.ts
  src/contexts/DeviceContext.tsx
  src/hackrf/hooks/useHackRFDevice.ts
  src/pages/Monitor.tsx
  src/pages/Settings.tsx
  src/panels/Bookmarks.tsx
  src/panels/Devices.tsx
  src/panels/Measurements.tsx
  src/styles/tokens.css
  src/utils/dsp.ts
  src/utils/dspWasm.ts
  src/utils/frequency.ts
Due: utils

Code coverage
  .github/workflows/e2e.yml
  .serena/memories/WASM_DSP_VALIDATION_THRESHOLD_AND_TOGGLES.md
  src/contexts/DeviceContext.tsx
  src/panels/Bookmarks.tsx
  src/utils/dspWasm.ts
Due: utils

test: import generateBookmarkId from utils/id in frequency.test; remove reliance on frequency re-exports
  src/utils/__tests__/frequency.test.ts
Due: utils

Format
  .github/workflows/e2e.yml
  .serena/memories/ESLINT_FLAT_CONFIG_TYPESCRIPT_PLUGIN_MAPPING.md
  .serena/memories/PLAYWRIGHT_E2E_HARDWARE_AND_MOCK.md
  .serena/memories/WASM_DSP_VALIDATION_THRESHOLD_AND_TOGGLES.md
Due: none

Update src/utils/dsp.ts
  src/utils/dsp.ts
Due: utils

Enforce HackRF initialization sequence and add pre-flight validation (#100)
  jest.config.js
  src/hackrf/HackRFOne.ts
  src/hackrf/HackRFOneAdapter.ts
  src/hackrf/__tests__/HackRFOne.test.ts
  src/hackrf/__tests__/HackRFOneAdapter.test.ts
Due: none

Playwright memory tweaks
  docs/e2e-tests.md
  playwright.config.ts
Due: none

Expose HackRF error recovery APIs and add troubleshooting documentation (#113)
  .serena/memories/HACKRF_ERROR_HANDLING_ENHANCEMENT_2025.md
  docs/reference/README.md
  docs/reference/hackrf-troubleshooting.md
  src/hackrf/HackRFOne.ts
  src/hackrf/HackRFOneAdapter.ts
  src/hackrf/__tests__/HackRFErrorRecovery.test.ts
  src/hackrf/__tests__/HackRFOneAdapter.test.ts
  src/models/SDRDevice.ts
Due: models

More quality
  .github/workflows/quality-checks.yml
  .serena/memories/WASM_DSP_VALIDATION_THRESHOLD_AND_TOGGLES.md
  dist/index.html
  src/App.tsx
  src/components/EmptyState.tsx
  src/components/TopAppBar.tsx
  src/hooks/useHackRFDevice.ts
  src/pages/Monitor.tsx
  src/panels/Devices.tsx
  src/panels/Measurements.tsx
  src/utils/__tests__/dsp.calculateSpectrogram.fallback.test.ts
  src/utils/__tests__/dsp.calculateSpectrogram.rowwiseWasmFallback.test.ts
  src/utils/dsp.ts
  src/utils/dspWasm.ts
Due: utils, components, hooks

Format
  .serena/memories/WASM_DSP_VALIDATION_THRESHOLD_AND_TOGGLES.md
  src/App.tsx
  src/utils/dspWasm.ts
Due: utils

Resolve PR comments
  .serena/memories/WASM_DSP_VALIDATION_THRESHOLD_AND_TOGGLES.md
  README.md
  docs/reference/wasm-runtime-flags.md
Due: none

Format
  .serena/memories/WASM_DSP_VALIDATION_THRESHOLD_AND_TOGGLES.md
Due: none

Update src/pages/Decode.tsx
  src/pages/Decode.tsx
Due: none

Update src/pages/Monitor.tsx
  src/pages/Monitor.tsx
Due: none

Remove speech references
  CONTRIBUTING.md
  jest.config.js
Due: none

Update src/hackrf/__tests__/HackRFMocked.test.ts
  src/hackrf/__tests__/HackRFMocked.test.ts
Due: none

Fix tests
  .github/workflows/quality-checks.yml
  DOCUMENTATION_ANALYSIS_SUMMARY.md
  VISUALIZATION_COMPLIANCE_REPORT.md
  VISUALIZATION_VERIFICATION_SUMMARY.md
  src/components/SampleChart.tsx
  src/components/index.ts
  src/pages/Visualizer.tsx
  src/visualization/SimulatedSource.ts
  src/visualization/__tests__/SimulatedSource.test.ts
  src/visualization/components/IQConstellation.tsx
  src/visualization/components/Spectrogram.tsx
  src/visualization/components/WaveformVisualizer.tsx
  tsconfig.json
Due: components

Establish visualization module with DataSource/FrameProcessor/Renderer interfaces (#112)
  .github/workflows/quality-checks.yml
  .serena/memories/VISUALIZATION_MODULE_ARCHITECTURE.md
  DOCUMENTATION_ANALYSIS_SUMMARY.md
  VISUALIZATION_COMPLIANCE_REPORT.md
  VISUALIZATION_VERIFICATION_SUMMARY.md
  src/App.tsx
  src/components/DSPComparisonView.tsx
  src/components/InteractiveDSPPipeline.tsx
  src/components/Navigation.tsx
  src/components/SampleChart.tsx
  src/components/WaveformChart.tsx
  src/components/__tests__/Accessibility.test.tsx
  src/components/__tests__/AxeAccessibility.test.tsx
  src/components/__tests__/VisualizationSDRData.test.tsx
  src/components/index.ts
  src/pages/LiveMonitor.tsx
  src/pages/VisualizationDemo.tsx
  src/pages/Visualizer.tsx
  src/pages/__tests__/VisualizationDemo.test.tsx
  src/visualization/README.md
  src/visualization/SimulatedSource.ts
  src/visualization/__tests__/SimulatedSource.test.ts
  src/visualization/components/FFTChart.tsx
  src/visualization/components/IQConstellation.tsx
  src/visualization/components/Spectrogram.tsx
  src/visualization/components/WaveformVisualizer.tsx
  src/visualization/components/__tests__/IQConstellation.test.tsx
  src/visualization/components/__tests__/Spectrogram.test.tsx
  src/visualization/components/__tests__/WaveformVisualizer.test.tsx
  src/visualization/index.ts
  src/visualization/interfaces.ts
  tsconfig.json
Due: components

Quality checks and memories
  .serena/memories/CODECOV_PATCH_GATE_STRATEGY_UI_AND_DSP.md
  .serena/memories/PLAYWRIGHT_WEBSERVER_AUTOSTART_FOR_E2E.md
  .serena/memories/TS_INDEXING_AND_TIMER_TESTS_PLAYBOOK.md
  CONTRIBUTING.md
  assembly/dsp.ts
  src/pages/Decode.tsx
  src/pages/Settings.tsx
  src/pages/__tests__/Decode.test.tsx
  src/pages/__tests__/Settings.test.tsx
  src/panels/__tests__/Bookmarks.test.tsx
  src/panels/__tests__/Devices.test.tsx
  src/utils/__tests__/dsp.calculateFFT.offlineAudioContext.test.ts
  src/utils/__tests__/dsp.resetWarningFlag.test.ts
  src/utils/__tests__/dspWasm.test.ts
  src/utils/dsp.ts
  src/utils/dspWasm.ts
Due: utils

Add WebUSB-based mocked tests for HackRF driver (#114)
  src/hackrf/__tests__/HackRFHardware.test.ts
  src/hackrf/__tests__/HackRFMocked.test.ts
  src/hackrf/__tests__/README.md
Due: none

Quality checks
  src/pages/Monitor.tsx
  src/panels/Devices.tsx
  src/utils/dsp.ts
  src/utils/dspWasm.ts
Due: utils

Update src/utils/dspWasm.ts
  src/utils/dspWasm.ts
Due: utils

Path conditions:
  utils: any of: src/utils/, but not: src/index.tsx, src/**/index.ts, src/**/*.d.ts, src/workers/**, assembly/**, dist/**, node_modules/**
  models: any of: src/models/, but not: src/index.tsx, src/**/index.ts, src/**/*.d.ts, src/workers/**, assembly/**, dist/**, node_modules/**
  components: any of: src/components/, but not: src/index.tsx, src/**/index.ts, src/**/*.d.ts, src/workers/**, assembly/**, dist/**, node_modules/**
  hooks: any of: src/hooks/, but not: src/index.tsx, src/**/index.ts, src/**/*.d.ts, src/workers/**, assembly/**, dist/**, node_modules/**
