Repository alexthemitchell/rad.io: changes, and which Codecov flags are due for each by the changed paths.
All: utils, models, components, hooks, UI Components, Pages, Panels, React Hooks, Device Models, DSP Core, DSP Utilities, Signal Detection, Signal Scanning, Signal Measurement, Signal Decoders, Audio Processing, Recording & Playback, Speech Recognition, Rendering Engine, WebGL Visualization, WebGPU Visualization, Web Workers, Monitoring & Metrics, Core Utilities, Test Infrastructure

Path conditions:
  utils: any of: src/utils/, but not: src/index.tsx, src/**/index.ts, src/**/*.d.ts, src/workers/**, assembly/**, dist/**, node_modules/**
  models: any of: src/models/, but not: src/index.tsx, src/**/index.ts, src/**/*.d.ts, src/workers/**, assembly/**, dist/**, node_modules/**
  components: any of: src/components/, but not: src/index.tsx, src/**/index.ts, src/**/*.d.ts, src/workers/**, assembly/**, dist/**, node_modules/**
  hooks: any of: src/hooks/, but not: src/index.tsx, src/**/index.ts, src/**/*.d.ts, src/workers/**, assembly/**, dist/**, node_modules/**
  UI Components: any of: src/components/**, but not: src/index.tsx, src/**/index.ts, src/**/*.d.ts, src/workers/**, assembly/**, dist/**, node_modules/**
  Pages: any of: src/pages/**, but not: src/index.tsx, src/**/index.ts, src/**/*.d.ts, src/workers/**, assembly/**, dist/**, node_modules/**
  Panels: any of: src/panels/**, but not: src/index.tsx, src/**/index.ts, src/**/*.d.ts, src/workers/**, assembly/**, dist/**, node_modules/**
  React Hooks: any of: src/hooks/**, but not: src/index.tsx, src/**/index.ts, src/**/*.d.ts, src/workers/**, assembly/**, dist/**, node_modules/**
  Device Models: any of: src/models/**, but not: src/index.tsx, src/**/index.ts, src/**/*.d.ts, src/workers/**, assembly/**, dist/**, node_modules/**
  DSP Core: any of: src/lib/dsp/**, but not: src/index.tsx, src/**/index.ts, src/**/*.d.ts, src/workers/**, assembly/**, dist/**, node_modules/**
  DSP Utilities: any of: src/utils/dsp.ts, src/utils/dspProcessing.ts, src/utils/dspWasm.ts, src/utils/dspBenchmark.ts, but not: src/index.tsx, src/**/index.ts, src/**/*.d.ts, src/workers/**, assembly/**, dist/**, node_modules/**
  Signal Detection: any of: src/lib/detection/**, but not: src/index.tsx, src/**/index.ts, src/**/*.d.ts, src/workers/**, assembly/**, dist/**, node_modules/**
  Signal Scanning: any of: src/lib/scanning/**, but not: src/index.tsx, src/**/index.ts, src/**/*.d.ts, src/workers/**, assembly/**, dist/**, node_modules/**
  Signal Measurement: any of: src/lib/measurement/**, but not: src/index.tsx, src/**/index.ts, src/**/*.d.ts, src/workers/**, assembly/**, dist/**, node_modules/**
  Signal Decoders: any of: src/utils/rdsDecoder.ts, src/utils/p25decoder.ts, but not: src/index.tsx, src/**/index.ts, src/**/*.d.ts, src/workers/**, assembly/**, dist/**, node_modules/**
  Audio Processing: any of: src/utils/audioStream.ts, but not: src/index.tsx, src/**/index.ts, src/**/*.d.ts, src/workers/**, assembly/**, dist/**, node_modules/**
  Recording & Playback: any of: src/utils/iqRecorder.ts, but not: src/index.tsx, src/**/index.ts, src/**/*.d.ts, src/workers/**, assembly/**, dist/**, node_modules/**
  Speech Recognition: any of: src/utils/speechRecognition.ts, but not: src/index.tsx, src/**/index.ts, src/**/*.d.ts, src/workers/**, assembly/**, dist/**, node_modules/**
  Rendering Engine: any of: src/lib/render/**, but not: src/index.tsx, src/**/index.ts, src/**/*.d.ts, src/workers/**, assembly/**, dist/**, node_modules/**
  WebGL Visualization: any of: src/utils/webgl.ts, but not: src/index.tsx, src/**/index.ts, src/**/*.d.ts, src/workers/**, assembly/**, dist/**, node_modules/**
  WebGPU Visualization: any of: src/utils/webgpu.ts, but not: src/index.tsx, src/**/index.ts, src/**/*.d.ts, src/workers/**, assembly/**, dist/**, node_modules/**
  Web Workers: any of: src/lib/workers/**, but not: src/index.tsx, src/**/index.ts, src/**/*.d.ts, src/workers/**, assembly/**, dist/**, node_modules/**
  Monitoring & Metrics: any of: src/lib/monitoring/**, src/utils/performanceMonitor.ts, but not: src/index.tsx, src/**/index.ts, src/**/*.d.ts, src/workers/**, assembly/**, dist/**, node_modules/**
  Core Utilities: any of: src/lib/utils/**, src/utils/logger.ts, src/utils/device-utils.ts, but not: src/index.tsx, src/**/index.ts, src/**/*.d.ts, src/workers/**, assembly/**, dist/**, node_modules/**
  Test Infrastructure: any of: src/utils/testHelpers.ts, src/utils/testMemoryManager.ts, src/utils/signalGenerator.ts, but not: src/index.tsx, src/**/index.ts, src/**/*.d.ts, src/workers/**, assembly/**, dist/**, node_modules/**

Update src/visualization/renderers/CanvasWaterfall.ts
  src/visualization/renderers/CanvasWaterfall.ts
Due: none

Update src/visualization/renderers/WebGLWaterfall.ts
  src/visualization/renderers/WebGLWaterfall.ts
Due: none

Update src/visualization/renderers/WebGLSpectrum.ts
  src/visualization/renderers/WebGLSpectrum.ts
Due: none

Update .github/workflows/quality-checks.yml
  .github/workflows/quality-checks.yml
Due: none

Add modular Canvas2D and WebGL renderers with automatic fallback (#124)
  src/App.tsx
  src/pages/RenderersDemo.tsx
  src/visualization/components/Spectrum.tsx
  src/visualization/components/Waterfall.tsx
  src/visualization/renderers/CanvasSpectrum.ts
  src/visualization/renderers/CanvasWaterfall.ts
  src/visualization/renderers/WebGLSpectrum.ts
  src/visualization/renderers/WebGLWaterfall.ts
  src/visualization/renderers/__tests__/Spectrum.test.ts
  src/visualization/renderers/__tests__/Waterfall.test.ts
  src/visualization/renderers/index.ts
  src/visualization/renderers/types.ts
Due: Pages

Update src/workers/visualization-renderer.worker.ts
  src/workers/visualization-renderer.worker.ts
Due: none

Optimize CI/CD pipeline: 40-60% faster builds, 89% smaller bundles (#125)
  .github/workflows/deploy-pages.yml
  .github/workflows/e2e.yml
  .github/workflows/quality-checks.yml
  .gitignore
  docs/decisions/0021-cicd-pipeline-optimization.md
  package-lock.json
  package.json
  src/index.html
  webpack.config.js
  webpack.config.ts
Due: none

Enable off-main-thread visualization with Workers + OffscreenCanvas (#126)
  docs/worker-rendering.md
  src/pages/RenderersDemo.tsx
  src/visualization/components/Spectrum.tsx
  src/visualization/components/Waterfall.tsx
  src/visualization/renderers/WebGLSpectrum.ts
  src/visualization/renderers/WebGLWaterfall.ts
  src/visualization/renderers/__tests__/Spectrum.test.ts
  src/visualization/renderers/__tests__/Waterfall.test.ts
  src/workers/VisualizationWorkerManager.ts
  src/workers/__tests__/VisualizationWorkerManager.test.ts
  src/workers/visualization-renderer.worker.ts
  src/workers/visualization.worker.ts
Due: Pages

Optimize build performance: 35-71% faster builds, 12% smaller WASM (#127)
  .gitignore
  .swcrc
  asconfig.json
  docs/BUILD_OPTIMIZATION.md
  jest.config.ts
  tsconfig.json
  webpack.config.ts
Due: none

Add unit tests for visualization components and logger utility (#128)
  src/components/__tests__/EmptyState.test.tsx
  src/components/__tests__/WaveformChart.test.tsx
  src/utils/__tests__/logger.test.ts
  src/visualization/components/__tests__/FFTChart.test.tsx
  src/visualization/components/__tests__/Spectrum.test.tsx
  src/visualization/components/__tests__/Waterfall.test.tsx
Due: utils, components, UI Components

Add Playwright e2e tests for visualization with simulated data (#130)
  e2e/README-SIMULATED-TESTS.md
  e2e/visualization-simulated.spec.ts
  package.json
  playwright.config.ts
Due: none

Add test infrastructure improvements: performance monitoring, signal generators, and comprehensive documentation (#129)
  .gitignore
  .serena/memories/SERENA_MEMORY_BEST_PRACTICES.md
  docs/testing/CI_OPTIMIZATION.md
  docs/testing/README.md
  docs/testing/TEST_DATA_GENERATORS.md
  docs/testing/TEST_RELIABILITY.md
  docs/testing/TEST_STRATEGY.md
  jest-performance-reporter.mjs
  jest.config.ts
  package.json
  src/utils/__tests__/signalGenerator.test.ts
  src/utils/signalGenerator.ts
  src/utils/testHelpers.ts
Due: utils, Test Infrastructure

Update docs/DEPLOYMENT.md
  docs/DEPLOYMENT.md
Due: none

Add test:e2e:device script and clarify CI test coverage (#131)
  .github/workflows/e2e.yml
  docs/testing/README.md
  docs/testing/TEST_STRATEGY.md
  package.json
Due: none

Streamline deployment with validation, automated cleanup, and comprehensive runbook (#132)
  .github/workflows/cleanup-artifacts.yml
  .github/workflows/deploy-pages.yml
  README.md
  docs/DEPLOYMENT.md
  docs/decisions/0022-streamlined-deployment-process.md
  webpack.config.ts
Due: none

Document visualization architecture and test strategy (#133)
  README.md
  docs/ONBOARDING.md
  docs/VISUALIZATION_ARCHITECTURE.md
  docs/e2e-tests.md
Due: none

Save
  .markdownlint.jsonc
  CONTRIBUTING.md
  docs/hackrf-initialization-guide.md
  eslint.config.mjs
  package-lock.json
  package.json
  src/contexts/DeviceContext.tsx
  src/hackrf/HackRFOne.ts
  src/pages/Monitor.tsx
Due: Pages

Reduce memory usage issues (hopefully)
  .github/copilot-instructions.md
  .serena/memories/SERENA_MEMORY_BEST_PRACTICES.md
Due: none

CSS splitting
  .serena/memories/POLICY_CSS_ARCHITECTURE_AND_IMPORT_ORDER.md
  src/styles/a11y.css
  src/styles/base.css
  src/styles/components/buttons.css
  src/styles/components/cards.css
  src/styles/components/controls.css
  src/styles/components/dialog.css
  src/styles/components/playback.css
  src/styles/components/status-bar.css
  src/styles/main.css
  src/styles/tokens.css
Due: none

Format
  .serena/memories/PLAYWRIGHT_E2E_HARDWARE_AND_MOCK.md
  e2e/README-DEVICE-TESTS.md
  e2e/visualization-device.spec.ts
  playwright.config.ts
  src/utils/e2e.ts
Due: utils

Add hardware-in-the-loop E2E tests for physical SDR devices (#135)
  .serena/memories/PLAYWRIGHT_E2E_HARDWARE_AND_MOCK.md
  e2e/README-DEVICE-TESTS.md
  e2e/visualization-device.spec.ts
  package.json
  playwright.config.ts
  src/utils/e2e.ts
Due: utils

Split CSS
  src/styles/layout.css
  src/styles/main.css
  src/styles/utilities.css
Due: none

CSS splitting
  .stylelintrc.json
  package-lock.json
  package.json
  src/styles/components/audio.css
  src/styles/components/diagnostics.css
  src/styles/components/dialog.css
  src/styles/components/playback.css
  src/styles/components/rds.css
  src/styles/components/tmc.css
  src/styles/main.css
  src/styles/tokens.css
Due: none

Save
  jest.setup.ts
Due: none

Fix Quality Checks workflow failures: stylelint config, CSS errors, test role (#137)
  .serena/memories/PLAYWRIGHT_WEBUSB_LIMITATION_2025.md
  .serena/memories/POLICY_CSS_ARCHITECTURE_AND_IMPORT_ORDER.md
  .serena/memories/REFERENCE_CANVAS_2D_DPR_TRANSFORM.md
  .serena/memories/SERENA_MEMORY_BEST_PRACTICES.md
  .serena/memories/UI_DESIGN_FOUNDATIONS_2025_10.md
  .stylelintrc.json
  src/components/SignalDetectionPanel.css
  src/styles/components/audio.css
  src/styles/main.css
  src/styles/tokens.css
  src/visualization/__tests__/SpectrumExplorer.split.test.tsx
Due: components, UI Components

Update src/visualization/components/SpectrumExplorer.tsx
  src/visualization/components/SpectrumExplorer.tsx
Due: none

Update src/hackrf/HackRFOne.ts
  src/hackrf/HackRFOne.ts
Due: none

Update src/styles/tokens.css
  src/styles/tokens.css
Due: none

Update src/utils/performanceMonitor.ts
  src/utils/performanceMonitor.ts
Due: utils, Monitoring & Metrics

Update src/components/ToastProvider.tsx
  src/components/ToastProvider.tsx
Due: components, UI Components

Update src/pages/Monitor.tsx
  src/pages/Monitor.tsx
Due: Pages

Update src/styles/main.css
  src/styles/main.css
Due: none
