Repository alexthemitchell/rad.io: changes, and which Codecov flags are due for each by the changed paths.
All: utils, models, components, hooks, UI Components, Pages, Panels, React Hooks, Device Models, DSP Core, DSP Utilities, Signal Detection, Signal Scanning, Signal Measurement, Signal Decoders, Audio Processing, Recording & Playback, Speech Recognition, Rendering Engine, WebGL Visualization, WebGPU Visualization, Web Workers, Monitoring & Metrics, Core Utilities, Test Infrastructure

Path conditions:
  utils: any of: src/utils/, but not: src/index.tsx, src/**/index.ts, src/**/*.d.ts, src/workers/**, assembly/**, dist/**, node_modules/**
  models: any of: src/models/, but not: src/index.tsx, src/**/index.ts, src/**/*.d.ts, src/workers/**, assembly/**, dist/**, node_modules/**
  components: any of: src/components/, but not: src/index.tsx, src/**/index.ts, src/**/*.d.ts, src/workers/**, assembly/**, dist/**, node_modules/**
  hooks: any of: src/hooks/, but not: src/index.tsx, src/**/index.ts, src/**/*.d.ts, src/workers/**, assembly/**, dist/**, node_modules/**
  UI Components: any of: src/components/**, but not: src/index.tsx, src/**/index.ts, src/**/*.d.ts, src/workers/**, assembly/**, dist/**, node_modules/**
  Pages: any of: src/pages/**, but not: src/index.tsx, src/**/index.ts, src/**/*.d.ts, src/workers/**, assembly/**, dist/**, node_modules/**
  Panels: any of: src/panels/**, but not: src/index.tsx, src/**/index.ts, src/**/*.d.ts, src/workers/**, assembly/**, dist/**, node_modules/**
  React Hooks: any of: src/hooks/**, but not: src/index.tsx, src/**/index.ts, src/**/*.d.ts, src/workers/**, assembly/**, dist/**, node_modules/**
  Device Models: any of: src/models/**, but not: src/index.tsx, src/**/index.ts, src/**/*.d.ts, src/workers/**, assembly/**, dist/**, node_modules/**
  DSP Core: any of: src/lib/dsp/**, but not: src/index.tsx, src/**/index.ts, src/**/*.d.ts, src/workers/**, assembly/**, dist/**, node_modules/**
  DSP Utilities: any of: src/utils/dsp.ts, src/utils/dspProcessing.ts, src/utils/dspWasm.ts, src/utils/dspBenchmark.ts, but not: src/index.tsx, src/**/index.ts, src/**/*.d.ts, src/workers/**, assembly/**, dist/**, node_modules/**
  Signal Detection: any of: src/lib/detection/**, but not: src/index.tsx, src/**/index.ts, src/**/*.d.ts, src/workers/**, assembly/**, dist/**, node_modules/**
  Signal Scanning: any of: src/lib/scanning/**, but not: src/index.tsx, src/**/index.ts, src/**/*.d.ts, src/workers/**, assembly/**, dist/**, node_modules/**
  Signal Measurement: any of: src/lib/measurement/**, but not: src/index.tsx, src/**/index.ts, src/**/*.d.ts, src/workers/**, assembly/**, dist/**, node_modules/**
  Signal Decoders: any of: src/utils/rdsDecoder.ts, src/utils/p25decoder.ts, but not: src/index.tsx, src/**/index.ts, src/**/*.d.ts, src/workers/**, assembly/**, dist/**, node_modules/**
  Audio Processing: any of: src/utils/audioStream.ts, but not: src/index.tsx, src/**/index.ts, src/**/*.d.ts, src/workers/**, assembly/**, dist/**, node_modules/**
  Recording & Playback: any of: src/utils/iqRecorder.ts, but not: src/index.tsx, src/**/index.ts, src/**/*.d.ts, src/workers/**, assembly/**, dist/**, node_modules/**
  Speech Recognition: any of: src/utils/speechRecognition.ts, but not: src/index.tsx, src/**/index.ts, src/**/*.d.ts, src/workers/**, assembly/**, dist/**, node_modules/**
  Rendering Engine: any of: src/lib/render/**, but not: src/index.tsx, src/**/index.ts, src/**/*.d.ts, src/workers/**, assembly/**, dist/**, node_modules/**
  WebGL Visualization: any of: src/utils/webgl.ts, but not: src/index.tsx, src/**/index.ts, src/**/*.d.ts, src/workers/**, assembly/**, dist/**, node_modules/**
  WebGPU Visualization: any of: src/utils/webgpu.ts, but not: src/index.tsx, src/**/index.ts, src/**/*.d.ts, src/workers/**, assembly/**, dist/**, node_modules/**
  Web Workers: any of: src/lib/workers/**, but not: src/index.tsx, src/**/index.ts, src/**/*.d.ts, src/workers/**, assembly/**, dist/**, node_modules/**
  Monitoring & Metrics: any of: src/lib/monitoring/**, src/utils/performanceMonitor.ts, but not: src/index.tsx, src/**/index.ts, src/**/*.d.ts, src/workers/**, assembly/**, dist/**, node_modules/**
  Core Utilities: any of: src/lib/utils/**, src/utils/logger.ts, src/utils/device-utils.ts, but not: src/index.tsx, src/**/index.ts, src/**/*.d.ts, src/workers/**, assembly/**, dist/**, node_modules/**
  Test Infrastructure: any of: src/utils/testHelpers.ts, src/utils/testMemoryManager.ts, src/utils/signalGenerator.ts, but not: src/index.tsx, src/**/index.ts, src/**/*.d.ts, src/workers/**, assembly/**, dist/**, node_modules/**

Implement complete WebGPU FFT with Cooley-Tukey algorithm (#247)
  docs/reference/fft-implementation.md
  docs/reference/performance-benchmarks.md
  docs/reference/webgpu-fft-implementation.md
  src/utils/__tests__/webgpuCompute.benchmark.test.ts
  src/utils/__tests__/webgpuCompute.comparison.test.ts
  src/utils/__tests__/webgpuCompute.test.ts
  src/utils/webgpuCompute.ts
Due: utils

Consolidate device driver error handling (#248)
  docs/DEVICE_ERROR_HANDLING.md
  jest.config.ts
  src/drivers/hackrf/HackRFOne.ts
  src/drivers/hackrf/HackRFOneAdapter.ts
  src/hooks/useDeviceIntegration.ts
  src/models/DeviceError.ts
  src/models/__tests__/DeviceError.test.ts
  src/models/__tests__/DeviceErrorIntegration.test.ts
  src/panels/Devices.tsx
  src/store/slices/diagnosticsSlice.ts
Due: models, hooks, Panels, React Hooks, Device Models

Document accuracy fixes and implementation roadmap: Correct ROADMAP and UI-DESIGN-SPEC completion claims (#250)
  ROADMAP.md
  docs/ACTIONABLE_RECOMMENDATIONS.md
  docs/GAP_ANALYSIS_REPORT.md
  docs/GITHUB_ISSUES_TO_CREATE.md
  docs/UI-DESIGN-SPEC.md
Due: none

Save
  .serena/memories/ATSC_PLAYBACK_ERROR_SOLUTION_2025-11-17.md
  .serena/memories/CONSOLE_LOG_REDUCTION_2025-11-18.md
  .serena/memories/DIAGNOSTICS_OVERLAY_INFINITE_LOOP_FIX_2025-11-17.md
  .serena/memories/hackrf-firmware-reset-solution.md
  src/components/DeviceDiagnostics.tsx
  src/components/DiagnosticsOverlay.tsx
  src/drivers/hackrf/HackRFOne.ts
  src/drivers/hackrf/__tests__/HackRFOneLimitsFromLibhackrf.test.ts
  src/hooks/useATSCPlayer.ts
  src/hooks/useDeviceIntegration.ts
  src/hooks/useFrequencyScanner.ts
  src/pages/ATSCPlayer.tsx
  src/pages/Monitor.tsx
  src/store/index.ts
  src/store/slices/deviceSlice.ts
  src/utils/audioResampler.ts
  src/utils/audioWorkletManager.ts
  src/utils/dsp.ts
  src/utils/dspEnvironment.ts
  src/utils/dspWasm.ts
Due: utils, components, hooks, UI Components, Pages, React Hooks, DSP Utilities

docs: Correct HackRF recovery method documentation - forget() + re-pair works
  .serena/memories/HACKRF_FIRMWARE_CORRUPTION_WINDOWS_2025-11-18.md
  docs/DEVICE_ERROR_HANDLING.md
  docs/hackrf-initialization-guide.md
Due: none

docs: Update hackrf-initialization-guide with correct recovery methods
  docs/hackrf-initialization-guide.md
Due: none

fix: Resolve linting errors - replace console.log with console.info, add type annotations
  src/components/DiagnosticsOverlay.tsx
  src/drivers/hackrf/HackRFOne.ts
  src/pages/ATSCPlayer.tsx
  src/pages/Monitor.tsx
Due: components, UI Components, Pages

feat(scanner): improve ATSC scan reliability (oversampling, RF gains, full dwell)
  src/hooks/useATSCScanner.ts
Due: hooks, React Hooks

feat(atsc): add scanner retry+recovery, Driver Reset UI, reduce scan sample rate
  src/drivers/hackrf/__tests__/HackRFErrorRecovery.test.ts
  src/hooks/useATSCScanner.ts
  src/pages/ATSCPlayer.tsx
  src/pages/Monitor.tsx
Due: hooks, Pages, React Hooks

Add VFO cursor to Spectrum component (#263)
  docs/VISUALIZATION_USAGE.md
  src/visualization/components/Spectrum.tsx
  src/visualization/components/__tests__/Spectrum.test.tsx
  src/visualization/renderers/SpectrumAnnotations.ts
  src/visualization/renderers/__tests__/SpectrumAnnotations.test.ts
Due: none

Add storage quota display to Recordings page (#265)
  src/hooks/__tests__/useStorageQuota.test.ts
  src/hooks/useStatusMetrics.ts
  src/hooks/useStorageQuota.ts
  src/pages/Recordings.tsx
  src/pages/__tests__/Recordings.test.tsx
Due: hooks, Pages, React Hooks

Add CSV export for bookmarks (#266)
  src/panels/Bookmarks.tsx
  src/panels/__tests__/Bookmarks.test.tsx
  src/types/bookmark.ts
  src/utils/__tests__/bookmark-import-export.test.ts
  src/utils/bookmark-import-export.ts
Due: utils, Panels

Add Marker Table to Analysis Page with Zustand State Management (#267)
  src/components/MarkerTable.tsx
  src/pages/Analysis.tsx
  src/pages/__tests__/Analysis.test.tsx
  src/store/index.ts
  src/store/slices/__tests__/markerSlice.test.ts
  src/store/slices/markerSlice.ts
Due: components, UI Components, Pages

Add empty state table for Scanner Activity Log (#268)
  src/components/Scanner/ActivityLog.tsx
  src/components/Scanner/index.ts
  src/components/__tests__/ActivityLog.test.tsx
  src/pages/Scanner.tsx
  src/styles/components/activity-log.css
  src/styles/main.css
Due: components, UI Components, Pages

Save
  package.json
  src/drivers/hackrf/HackRFOne.ts
  src/drivers/hackrf/HackRFOneAdapter.ts
  src/drivers/hackrf/__tests__/HackRFErrorRecovery.test.ts
  src/drivers/hackrf/__tests__/HackRFMocked.test.ts
  src/drivers/hackrf/__tests__/HackRFOne.test.ts
  src/drivers/hackrf/__tests__/HackRFOneAdapter.test.ts
  src/drivers/hackrf/__tests__/HackRFStateManagement.test.ts
  src/drivers/hackrf/__tests__/README.md
  src/drivers/hackrf/usbRetry.ts
  src/hooks/useATSCScanner.ts
  src/pages/ATSCPlayer.tsx
Due: hooks, Pages, React Hooks

Add Quick Actions toolbar with keyboard shortcuts to Monitor page (#269)
  e2e/quickactions.spec.ts
  package-lock.json
  package.json
  src/components/Monitor/QuickActions.tsx
  src/components/Monitor/__tests__/QuickActions.test.tsx
  src/components/ShortcutsOverlay.tsx
  src/lib/shortcuts.ts
  src/pages/Monitor.tsx
  src/panels/Bookmarks.tsx
  src/styles/components/quick-actions.css
  src/styles/main.css
  src/utils/bookmarkStorage.ts
Due: utils, components, UI Components, Pages, Panels

Simplify HackRF
  docs/GAP_ANALYSIS_REPORT.md
  docs/GITHUB_ISSUES_TO_CREATE.md
  docs/hackrf-initialization-guide.md
  package-lock.json
  src/drivers/hackrf/HackRFOne.ts
  src/drivers/hackrf/HackRFOneAdapter.ts
  src/drivers/hackrf/__tests__/HackRFErrorRecovery.test.ts
  src/drivers/hackrf/__tests__/HackRFMocked.test.ts
  src/drivers/hackrf/__tests__/HackRFOne.test.ts
  src/drivers/hackrf/__tests__/HackRFOneAdapter.test.ts
  src/drivers/hackrf/__tests__/HackRFOneLimitsFromLibhackrf.test.ts
  src/drivers/hackrf/__tests__/calibration.service.test.ts
  src/drivers/hackrf/__tests__/helpers/mockUSBDevice.ts
  src/drivers/hackrf/__tests__/usbRetry.test.ts
  src/drivers/hackrf/__tests__/util.test.ts
  src/drivers/hackrf/calibration.ts
  src/drivers/hackrf/core/StreamController.ts
  src/drivers/hackrf/core/config.ts
  src/drivers/hackrf/core/memory.ts
  src/drivers/hackrf/core/recovery.ts
  src/drivers/hackrf/core/stream.ts
  src/drivers/hackrf/core/transport.ts
  src/drivers/hackrf/core/types.ts
  src/drivers/hackrf/index.ts
  src/drivers/hackrf/poll.ts
  src/drivers/hackrf/usbRetry.ts
  src/drivers/hackrf/util.ts
Due: none

Implement IndexedDB storage layer for IQ recordings (#271)
  ARCHITECTURE.md
  src/lib/recording/__tests__/recording-manager.test.ts
  src/lib/recording/__tests__/recording-storage.test.ts
  src/lib/recording/index.ts
  src/lib/recording/recording-manager.ts
  src/lib/recording/recording-storage.ts
  src/lib/recording/types.ts
Due: none

True up
  src/drivers/hackrf/HackRFOne.ts
  src/drivers/hackrf/__tests__/HackRFErrorRecovery.test.ts
  src/drivers/hackrf/__tests__/HackRFMocked.test.ts
  src/drivers/hackrf/__tests__/HackRFOne.test.ts
  src/drivers/hackrf/__tests__/HackRFOneAdapter.test.ts
  src/drivers/hackrf/__tests__/HackRFOneLimitsFromLibhackrf.test.ts
  src/drivers/hackrf/__tests__/helpers/mockUSBDevice.ts
  src/drivers/hackrf/core/memory.ts
  src/drivers/hackrf/core/stream.ts
  src/drivers/hackrf/test-helpers/mockUSBDevice.ts
  src/hooks/useATSCScanner.ts
  src/pages/ATSCPlayer.tsx
  src/pages/Monitor.tsx
Due: hooks, Pages, React Hooks

Formatting
  .serena/memories/ATSC_PLAYBACK_ERROR_INVESTIGATION_2025-11-17.md
  .serena/memories/ATSC_PLAYBACK_ERROR_SOLUTION_2025-11-17.md
  .serena/memories/CONSOLE_LOG_REDUCTION_2025-11-18.md
  .serena/memories/DIAGNOSTICS_OVERLAY_INFINITE_LOOP_FIX_2025-11-17.md
  .serena/memories/HACKRF_CONTROL_TRANSFER_DEBUG_2025-11-17.md
  .serena/memories/HACKRF_FIRMWARE_CORRUPTION_WINDOWS_2025-11-18.md
  .serena/memories/HACKRF_PAGE_RELOAD_FIX_2025-01-17.md
  .serena/memories/hackrf-firmware-reset-solution.md
  e2e/hackrf-page-reload.spec.ts
  src/drivers/hackrf/__tests__/HackRFErrorRecovery.test.ts
  src/drivers/hackrf/__tests__/HackRFOne.test.ts
  src/drivers/hackrf/__tests__/HackRFOneAdapter.test.ts
  src/drivers/hackrf/__tests__/HackRFOneLimitsFromLibhackrf.test.ts
  src/drivers/hackrf/__tests__/HackRFStateManagement.test.ts
  src/drivers/hackrf/__tests__/calibration.service.test.ts
  src/drivers/hackrf/__tests__/usbRetry.test.ts
Due: none

Fix formatting of server URL in instructions
  .github/copilot-instructions.md
Due: none

Implement Recording List View with search, sort, and export (#272)
  .serena/memories/recording_list_implementation.md
  src/components/Recordings/RecordingCard.tsx
  src/components/Recordings/RecordingList.tsx
  src/components/Recordings/__tests__/RecordingCard.test.tsx
  src/components/Recordings/__tests__/RecordingList.test.tsx
  src/pages/Recordings.tsx
  src/pages/__tests__/Recordings.test.tsx
  src/utils/format.ts
Due: utils, components, UI Components, Pages

Add interactive frequency marker placement to Spectrum component (#275)
  docs/FREQUENCY_MARKER_USAGE.md
  src/store/index.ts
  src/store/slices/markerSlice.ts
  src/visualization/components/Spectrum.tsx
  src/visualization/components/__tests__/Spectrum.markers.test.tsx
  src/visualization/renderers/SpectrumAnnotations.ts
  src/visualization/renderers/__tests__/SpectrumAnnotations.markers.test.ts
Due: none

Add CSV import for bookmarks with duplicate detection, accessibility, and performance optimizations (#276)
  package-lock.json
  package.json
  src/panels/Bookmarks.tsx
  src/utils/__tests__/bookmark-import-export.test.ts
  src/utils/bookmark-import-export.ts
Due: utils, Panels

Add S-Meter specification and TypeScript interfaces for signal strength conversion (#282)
  docs/reference/s-meter-spec.md
  src/lib/measurement/__tests__/s-meter-types.test.ts
  src/lib/measurement/index.ts
  src/lib/measurement/types.ts
Due: Signal Measurement

Signal Metering Phase 2: Conversion utilities and periodic sampling service (#283)
  src/lib/dsp/analysis.ts
  src/lib/measurement/__tests__/signal-level-service.test.ts
  src/lib/measurement/__tests__/signalMeasurement.test.ts
  src/lib/measurement/index.ts
  src/lib/measurement/signal-level-service.ts
  src/lib/measurement/signalMeasurement.ts
  src/store/index.ts
  src/store/slices/signalLevelSlice.ts
Due: DSP Core, Signal Measurement

Add Multi-VFO Architecture & State Design Specification (#290)
  .serena/memories/MULTI_VFO_ARCHITECTURE_FOUNDATION.md
  docs/reference/multi-vfo-architecture.md
Due: none

Add professional S-Meter UI component with accessibility and E2E tests (#291)
  e2e/s-meter.spec.ts
  src/components/SMeter.md
  src/components/SMeter.tsx
  src/components/__tests__/SMeter.test.tsx
  src/components/index.ts
  src/pages/Monitor.tsx
  src/pages/__tests__/Monitor.test.tsx
  src/styles/components/s-meter.css
  src/styles/main.css
Due: components, UI Components, Pages

Implement VFO store with hardware bandwidth constraint validation (#292)
  .serena/memories/VFO_STORE_IMPLEMENTATION_2025-11-21.md
  src/store/index.ts
  src/store/slices/__tests__/vfoSlice.test.ts
  src/store/slices/vfoSlice.ts
  src/types/vfo.ts
Due: none

Implement Phase 4: User calibration offset and band-aware S9 baseline (#293)
  .serena/memories/SIGNAL_METERING_CALIBRATION_IMPLEMENTATION.md
  docs/reference/s-meter-spec.md
  src/components/RenderingSettingsModal.tsx
  src/lib/measurement/__tests__/signal-level-service.test.ts
  src/lib/measurement/__tests__/signalMeasurement.test.ts
  src/lib/measurement/signal-level-service.ts
  src/lib/measurement/signalMeasurement.ts
  src/store/slices/settingsSlice.ts
Due: components, UI Components, Signal Measurement

Implement DSP multi-channel extraction for simultaneous VFO demodulation (#294)
  assembly/dsp.ts
  assembly/index.ts
  docs/reference/multi-vfo-dsp-implementation.md
  src/lib/dsp/MultiVfoProcessor.ts
  src/lib/dsp/__tests__/MultiVfoProcessor.test.ts
  src/lib/dsp/index.ts
Due: DSP Core

Phase 5: S-Meter final documentation and refinement (#295)
  .serena/memories/S_METER_PHASE_5_COMPLETION.md
  docs/reference/README.md
  docs/reference/s-meter-user-guide.md
  src/lib/measurement/__tests__/signalMeasurement.test.ts
Due: Signal Measurement

Add UI for Multi-VFO Management (Phase 4) (#296)
  .serena/memories/MULTI_VFO_UI_IMPLEMENTATION_2025-11-21.md
  e2e/helpers/findStartButton.ts
  e2e/multi-vfo.spec.ts
  src/components/AddVfoModal.tsx
  src/components/Monitor/PrimaryVisualization.tsx
  src/components/VfoBadgeOverlay.tsx
  src/components/VfoManagerPanel.tsx
  src/components/__tests__/AddVfoModal.test.tsx
  src/components/__tests__/VfoBadgeOverlay.test.tsx
  src/components/__tests__/VfoManagerPanel.test.tsx
  src/components/index.ts
  src/pages/Monitor.tsx
  src/pages/__tests__/Monitor.test.tsx
  src/styles/components/dialog.css
  src/styles/components/vfo.css
  src/styles/main.css
  src/utils/vfoModes.ts
  src/visualization/components/Waterfall.tsx
Due: utils, components, UI Components, Pages

Multi-VFO Phase 5: Resource limits, monitoring, and documentation (#297)
  .serena/memories/MULTI_VFO_PHASE_5_COMPLETION_2025-11-22.md
  docs/reference/multi-vfo-user-guide.md
  src/components/__tests__/multiVfoAccessibility.test.tsx
  src/constants/__tests__/vfoLimits.test.ts
  src/constants/vfoLimits.ts
  src/store/slices/__tests__/vfoSlice.test.ts
  src/store/slices/vfoSlice.ts
  src/types/vfo.ts
  src/utils/__tests__/vfoResourceMonitor.test.ts
  src/utils/vfoResourceMonitor.ts
Due: utils, components, UI Components

Save
  docs/decisions/0023-sdr-driver-abstraction-api.md
  docs/rtl-sdr-implementation-summary.md
  e2e/README-RTLSDR-TESTS.md
  e2e/rtlsdr-device.spec.ts
  src/drivers/README.md
  src/drivers/__tests__/DriverConformance.test.ts
  src/drivers/index.ts
  src/drivers/registerBuiltinDrivers.ts
  src/drivers/rtlsdr/RTLSDRDeviceAdapter.ts
  src/drivers/rtlsdr/index.ts
  src/models/RTLSDRDeviceAdapter.ts
  src/models/__tests__/RTLSDRDevice.test.ts
  src/models/index.ts
  src/store/index.ts
Due: models, Device Models

Fix tests
  src/hooks/__tests__/useMultiVfoProcessor.test.ts
  src/hooks/useMultiVfoProcessor.ts
  src/pages/Monitor.tsx
  src/utils/webAudioUtils.ts
Due: utils, hooks, Pages, React Hooks

Bring up test coverage
  src/hooks/__tests__/useMultiVfoProcessor.test.ts
  src/utils/__tests__/webAudioUtils.test.ts
  src/utils/webAudioUtils.ts
Due: utils, hooks, React Hooks

Fixes
  package.json
  src/hooks/__tests__/useMultiVfoProcessor.test.ts
  src/hooks/useMultiVfoProcessor.ts
  src/utils/__tests__/webAudioUtils.test.ts
  src/utils/webAudioUtils.ts
Due: utils, hooks, React Hooks

Integrate Multi-VFO DSP pipeline with IQ sample processing (#298)
  .serena/memories/MULTI_VFO_PHASE_6_INTEGRATION_COMPLETE.md
  package.json
  src/hooks/__tests__/useMultiVfoProcessor.test.ts
  src/hooks/useMultiVfoProcessor.ts
  src/pages/Monitor.tsx
  src/utils/__tests__/webAudioUtils.test.ts
  src/utils/webAudioUtils.ts
Due: utils, hooks, Pages, React Hooks
