Repository alexthemitchell/rad.io: changes, and which Codecov flags are due for each by the changed paths.
All: utils, models, components, hooks

feat: implement test coverage enforcement and CI thresholds (#66)
  .github/workflows/quality-checks.yml
  .serena/memories/FFT_WIDEBAND_SCANNING_IMPLEMENTATION.md
  .serena/memories/SCANNER_CONFIG_AND_ISDR_INTERFACE_UPDATE.md
  .serena/memories/TEST_COVERAGE_ENFORCEMENT.md
  CONTRIBUTING.md
  README.md
  codecov.yml
  jest.config.js
  src/hooks/__tests__/useFrequencyScanner.test.ts
  src/hooks/useFrequencyScanner.ts
Due: hooks

Comprehensive Accessibility Audit and WCAG 2.1 AA Compliance Implementation (#67)
  .github/ACCESSIBILITY_CHECKLIST.md
  .serena/memories/ACCESSIBILITY_AUDIT_COMPLETED.md
  ACCESSIBILITY.md
  CONTRIBUTING.md
  README.md
  docs/E2E_ACCESSIBILITY_TESTING.md
  docs/MANUAL_ACCESSIBILITY_TESTING.md
  e2e/accessibility.spec.ts
  jest.config.js
  jest.setup.ts
  package-lock.json
  package.json
  playwright.config.ts
  src/components/__tests__/AxeAccessibility.test.tsx
Due: components

Add comprehensive device integration framework with RTL-SDR reference implementation (#68)
  .eslintignore
  ARCHITECTURE.md
  README.md
  docs/DEVICE_INTEGRATION.md
  eslint.config.mjs
  src/models/RTLSDRDevice.ts
  src/models/RTLSDRDeviceAdapter.ts
  src/models/__tests__/RTLSDRDevice.test.ts
  src/models/templates/DeviceTemplate.ts
  tsconfig.json
Due: models

Add Waterfall Display Mode for Real-Time Frequency Spectrum Visualization (#69)
  .serena/memories/WATERFALL_DISPLAY_IMPLEMENTATION.md
  README.md
  jest.config.js
  src/components/FFTChart.tsx
  src/components/Spectrogram.tsx
  src/components/__tests__/Spectrogram.test.tsx
  src/models/__tests__/RTLSDRDevice.test.ts
  src/pages/Visualizer.tsx
Due: models, components

Implement WebGPU Rendering with Standard Visualization Interface (#72)
  .serena/memories/WEBGPU_VISUALIZATION_IMPLEMENTATION.md
  ARCHITECTURE.md
  ESLINT_TYPESCRIPT_RECOMMENDATIONS.md
  README.md
  docs/DEVICE_INTEGRATION.md
  docs/WEBGPU_RENDERING.md
  eslint.config.mjs
  jest.setup.ts
  package-lock.json
  package.json
  playwright.config.ts
  src/components/IQConstellation.tsx
  src/components/InteractiveDSPPipeline.tsx
  src/components/Spectrogram.tsx
  src/components/WaveformVisualizer.tsx
  src/models/HackRFOne.ts
  src/models/RTLSDRDevice.ts
  src/models/RTLSDRDeviceAdapter.ts
  src/pages/Analysis.tsx
  src/pages/Scanner.tsx
  src/pages/Visualizer.tsx
  src/types/visualization.ts
  src/utils/__tests__/webgpu.test.ts
  src/utils/dsp.ts
  src/utils/logger.ts
  src/utils/p25decoder.ts
  src/utils/rdsDecoder.ts
  src/utils/webgpu.ts
  tsconfig.json
Due: utils, models, components

Fix all quality checks: TypeScript config, ESLint errors, and test failures (#73)
  .prettierignore
  docs/DEVICE_INTEGRATION.md
  eslint.config.mjs
  package-lock.json
  package.json
  src/components/BandwidthSelector.tsx
  src/components/DSPComparisonView.tsx
  src/components/RadioControls.tsx
  src/components/TMCDisplay.tsx
  src/hooks/__tests__/useLiveRegion.test.tsx
  src/hooks/useHackRFDevice.ts
  src/hooks/useLiveRegion.tsx
  src/models/HackRFDevice/poll.ts
  src/models/HackRFDevice/util.ts
  src/models/HackRFOne.ts
  src/models/RTLSDRDevice.ts
  src/models/RTLSDRDeviceAdapter.ts
  src/models/TMCData.ts
  src/models/__tests__/RTLSDRDevice.test.ts
  src/pages/Analysis.tsx
  src/pages/LiveMonitor.tsx
  src/pages/Scanner.tsx
  src/pages/Visualizer.tsx
  src/utils/dspWasm.ts
  src/utils/rdsDecoder.ts
  tsconfig.json
Due: utils, models, components, hooks

Update DOCUMENTATION_ANALYSIS_SUMMARY.md
  DOCUMENTATION_ANALYSIS_SUMMARY.md
Due: none

Update .serena/memories/EXTENDED_AUDIO_DSP_CITATIONS.md
  .serena/memories/EXTENDED_AUDIO_DSP_CITATIONS.md
Due: none

Update .serena/memories/DOCUMENTATION_INDEX_CROSS_REFERENCE.md
  .serena/memories/DOCUMENTATION_INDEX_CROSS_REFERENCE.md
Due: none

Add comprehensive research citations and cross-reference index for documentation (#76)
  .serena/memories/DOCUMENTATION_INDEX_CROSS_REFERENCE.md
  .serena/memories/EXTENDED_AUDIO_DSP_CITATIONS.md
  .serena/memories/REFERENCE_DOCS_RESEARCH_CITATIONS.md
  DOCUMENTATION_ANALYSIS_SUMMARY.md
Due: none

Update src/utils/testHelpers.ts
  src/utils/testHelpers.ts
Due: utils

Verify visualization compliance and extend test coverage (#80)
  .serena/memories/VISUALIZATION_COMPLIANCE_VERIFICATION.md
  VISUALIZATION_COMPLIANCE_REPORT.md
  VISUALIZATION_VERIFICATION_SUMMARY.md
  docs/ADR-COMPLIANCE-STATUS.md
  src/components/__tests__/IQConstellation.test.tsx
  src/components/__tests__/Spectrogram.test.tsx
  src/components/__tests__/WaveformVisualizer.test.tsx
  src/utils/testHelpers.ts
Due: utils, components

Document ADR compliance gaps and increase test coverage (#82)
  .serena/memories/ADR_COMPLIANCE_AUDIT_2025.md
  docs/ADR-COMPLIANCE-REPORT.md
  docs/decisions/README.md
  src/__tests__/App.test.tsx
  src/components/__tests__/DSPPipeline.test.tsx
  src/components/__tests__/P25SystemPresets.test.tsx
  src/utils/__tests__/p25decoder.branches.test.ts
Due: utils, components

Implement ADR-0002 and ADR-0012: Web Worker DSP and Parallel FFT Pools (#84)
  .serena/memories/ADR_0002_0012_WORKER_POOLS_IMPLEMENTATION.md
  docs/ADR-0002-0012-IMPLEMENTATION.md
  src/lib/dsp/__tests__/priority-queue.test.ts
  src/lib/dsp/band-scanner.ts
  src/lib/dsp/fft-worker-pool.ts
  src/lib/dsp/priority-queue.ts
  src/lib/index.ts
  src/lib/monitoring/__tests__/dsp-metrics.test.ts
  src/lib/monitoring/dsp-metrics.ts
  src/lib/utils/__tests__/buffer-pool.test.ts
  src/lib/utils/buffer-pool.ts
  src/lib/workers/dsp-worker-pool.ts
  src/lib/workers/dsp-worker.ts
  src/lib/workers/fft-worker.ts
  src/lib/workers/types.ts
  src/utils/__tests__/dspWorker.test.ts
  src/utils/dspWorker.ts
Due: utils

Design Spec
  .github/copilot-instructions.md
  .playwright-mcp/.playwright-mcp/01-initial-state.png
  .playwright-mcp/.playwright-mcp/02-receiving-data.png
  .playwright-mcp/.playwright-mcp/04-after-scroll.png
  .playwright-mcp/.playwright-mcp/05-fixed-no-infinite-loop.png
  .playwright-mcp/scanner-after-first-attempt.png
  .playwright-mcp/scanner-page-before-scan.png
  .playwright-mcp/scanner-page-before-second-test.png
  .playwright-mcp/scanner-page-during-scan.png
  .playwright-mcp/scanner.png
  .serena/memories/UI_DESIGN_FOUNDATIONS_2025_10.md
  .serena/memories/WASM_OUTPUT_ARRAY_BUG.md
  .serena/memories/WEBGPU_VISUALIZATION_IMPLEMENTATION.md
  docs/UI-DESIGN-SPEC.md
  src/components/IQConstellation.tsx
  src/components/Spectrogram.tsx
  src/components/StatusBar.tsx
  src/components/WaveformVisualizer.tsx
  src/components/__tests__/StatusBar.test.tsx
  src/styles/main.css
  src/styles/tokens.css
  src/utils/dsp.ts
  src/utils/dspWasm.ts
  src/utils/webgpu.ts
Due: utils, components

Implement Phase 3 professional measurement and compliance tools (#91)
  .serena/memories/PHASE_3_MEASUREMENT_TOOLS_IMPLEMENTATION.md
  .serena/memories/UI_DESIGN_FOUNDATIONS_2025_10.md
  .serena/memories/WASM_OUTPUT_ARRAY_BUG.md
  src/components/WaveformVisualizer.tsx
  src/lib/index.ts
  src/lib/measurement/__tests__/calibration.test.ts
  src/lib/measurement/__tests__/channel-power.test.ts
  src/lib/measurement/__tests__/frequency-markers.test.ts
  src/lib/measurement/__tests__/measurement-logger.test.ts
  src/lib/measurement/__tests__/signal-quality.test.ts
  src/lib/measurement/__tests__/spectrum-mask.test.ts
  src/lib/measurement/calibration.ts
  src/lib/measurement/channel-power.ts
  src/lib/measurement/frequency-markers.ts
  src/lib/measurement/index.ts
  src/lib/measurement/measurement-logger.ts
  src/lib/measurement/signal-quality.ts
  src/lib/measurement/spectrum-mask.ts
  src/lib/measurement/types.ts
Due: components

Status bar pt 1
  .serena/memories/STATUS_BAR_SYSTEM_METRICS_IMPLEMENTATION.md
  src/components/IQConstellation.tsx
  src/components/Spectrogram.tsx
  src/components/StatusBar.tsx
  src/components/WaveformVisualizer.tsx
  src/lib/render/RenderTierManager.ts
  src/lib/render/__tests__/RenderTierManager.test.ts
  src/pages/LiveMonitor.tsx
  src/types/rendering.ts
  src/utils/__tests__/performanceMonitor.test.ts
  src/utils/performanceMonitor.ts
Due: utils, components

Cleanup
  docs/ADR-0002-0012-IMPLEMENTATION.md
  docs/ADR-COMPLIANCE-REPORT.md
  docs/ADR-COMPLIANCE-STATUS.md
  docs/PHASE_2_INTELLIGENCE.md
  docs/decisions/0018-ux-information-architecture.md
  docs/decisions/0019-viridis-colormap-waterfall-visualization.md
  docs/decisions/ADR-REVIEW-SUMMARY.md
  docs/decisions/README.md
  src/pages/LiveMonitor.tsx
  src/utils/__tests__/speechRecognition.test.ts
Due: utils

Pages Scaffolding
  .github/workflows/deploy-pages.yml
  .serena/memories/ADR_0018_PAGE_ARCHITECTURE_IMPLEMENTATION.md
  src/App.tsx
  src/__tests__/App.test.tsx
  src/components/FrequencyDisplay.tsx
  src/components/Navigation.tsx
  src/components/StatusFooter.tsx
  src/components/TopAppBar.tsx
  src/components/__tests__/Navigation.test.tsx
  src/pages/Calibration.tsx
  src/pages/Decode.tsx
  src/pages/Help.tsx
  src/pages/Monitor.tsx
  src/pages/Recordings.tsx
  src/pages/Settings.tsx
  src/panels/Bookmarks.tsx
  src/panels/Devices.tsx
  src/panels/Diagnostics.tsx
  src/panels/Measurements.tsx
Due: components

Implementation
  .serena/memories/BOOKMARKS_DEVICES_PANEL_PATTERNS.md
  SECURITY.md
  src/App.tsx
  src/__tests__/App.test.tsx
  src/components/FrequencyDisplay.tsx
  src/components/StatusFooter.tsx
  src/components/TopAppBar.tsx
  src/panels/Bookmarks.tsx
  src/panels/Devices.tsx
Due: components

Update src/components/FrequencyDisplay.tsx
  src/components/FrequencyDisplay.tsx
Due: components

useNavigation
  .serena/memories/REACT_ROUTER_NAVIGATION_PATTERNS.md
  src/components/Navigation.tsx
Due: components

Update src/pages/Help.tsx
  src/pages/Help.tsx
Due: none

Don't use <a>
  .serena/memories/REACT_ROUTER_NAVIGATION_PATTERNS.md
  src/pages/Settings.tsx
Due: none

Implementations
  src/components/__tests__/FrequencyDisplay.test.tsx
  src/components/__tests__/StatusFooter.test.tsx
  src/components/__tests__/TopAppBar.test.tsx
  src/pages/Decode.tsx
  src/pages/Monitor.tsx
  src/pages/__tests__/Analysis.test.tsx
  src/pages/__tests__/Calibration.test.tsx
  src/pages/__tests__/Decode.test.tsx
  src/pages/__tests__/Help.test.tsx
  src/pages/__tests__/LiveMonitor.test.tsx
  src/pages/__tests__/Monitor.test.tsx
  src/pages/__tests__/Recordings.test.tsx
  src/pages/__tests__/Scanner.test.tsx
  src/pages/__tests__/Settings.test.tsx
  src/pages/__tests__/Visualizer.test.tsx
  src/panels/Diagnostics.tsx
  src/panels/Measurements.tsx
  src/panels/__tests__/Bookmarks.test.tsx
  src/panels/__tests__/Devices.test.tsx
  src/panels/__tests__/Measurements.test.tsx
  src/panels/__tests__/Recording.test.tsx
Due: components

Make sure everything passes
  .serena/memories/task_completion.md
Due: none

Update src/pages/Settings.tsx
  src/pages/Settings.tsx
Due: none

fix: rename Recording.test.tsx to Diagnostics.test.tsx
  src/panels/__tests__/Diagnostics.test.tsx
Due: none

feat: implement Codecov Components for granular coverage tracking
  .serena/memories/TEST_COVERAGE_ENFORCEMENT.md
  DOCUMENTATION_ANALYSIS_SUMMARY.md
  VISUALIZATION_COMPLIANCE_REPORT.md
  VISUALIZATION_VERIFICATION_SUMMARY.md
  codecov.yml
Due: none

Format
  codecov.yml
Due: none

Update src/components/Navigation.tsx
  src/components/Navigation.tsx
Due: components

Path conditions:
  utils: any of: src/utils/, but not: src/index.tsx, src/**/index.ts, src/**/*.d.ts, src/workers/**, assembly/**, dist/**, node_modules/**
  models: any of: src/models/, but not: src/index.tsx, src/**/index.ts, src/**/*.d.ts, src/workers/**, assembly/**, dist/**, node_modules/**
  components: any of: src/components/, but not: src/index.tsx, src/**/index.ts, src/**/*.d.ts, src/workers/**, assembly/**, dist/**, node_modules/**
  hooks: any of: src/hooks/, but not: src/index.tsx, src/**/index.ts, src/**/*.d.ts, src/workers/**, assembly/**, dist/**, node_modules/**
