Repository alexthemitchell/rad.io: changes, and which Codecov flags are due for each by the changed paths.
All: utils, models, components, hooks, UI Components, Pages, Panels, React Hooks, Device Models, DSP Core, DSP Utilities, Signal Detection, Signal Scanning, Signal Measurement, Signal Decoders, Audio Processing, Recording & Playback, Speech Recognition, Rendering Engine, WebGL Visualization, WebGPU Visualization, Web Workers, Monitoring & Metrics, Core Utilities, Test Infrastructure

Formatting
  README.md
  docs/VISUALIZATION_INTEGRATION_GUIDE.md
  docs/VISUALIZATION_PERFORMANCE_GUIDE.md
  src/pages/Monitor.tsx
  src/visualization/README.md
  src/visualization/index.ts
  src/visualization/processors/AGCProcessor.ts
  src/visualization/processors/SpectrogramProcessor.ts
  src/visualization/processors/index.ts
Due: Pages

Add FrameProcessor implementations and optimize production pages (#139)
  docs/VISUALIZATION_INTEGRATION_GUIDE.md
  docs/VISUALIZATION_PERFORMANCE_GUIDE.md
  src/pages/Monitor.tsx
  src/pages/RenderersDemo.tsx
  src/pages/VisualizationDemo.tsx
  src/visualization/README.md
  src/visualization/index.ts
  src/visualization/processors/AGCProcessor.ts
  src/visualization/processors/FFTProcessor.ts
  src/visualization/processors/SpectrogramProcessor.ts
  src/visualization/processors/__tests__/AGCProcessor.test.ts
  src/visualization/processors/__tests__/FFTProcessor.test.ts
  src/visualization/processors/__tests__/SpectrogramProcessor.test.ts
  src/visualization/processors/index.ts
Due: Pages

Add driver abstraction API for SDR hardware with codebase integration, dynamic discovery, and hot-reload (#150)
  docs/decisions/0023-sdr-driver-abstraction-api.md
  src/contexts/DeviceContext.tsx
  src/drivers/DeviceDiscovery.ts
  src/drivers/DriverHotReload.ts
  src/drivers/README.md
  src/drivers/SDRDriverRegistry.ts
  src/drivers/WebUSBDeviceSelector.ts
  src/drivers/__tests__/DeviceDiscovery.test.ts
  src/drivers/__tests__/DriverHotReload.test.ts
  src/drivers/__tests__/SDRDriverRegistry.test.ts
  src/drivers/__tests__/WebUSBDeviceSelector.test.ts
  src/drivers/__tests__/registerBuiltinDrivers.test.ts
  src/drivers/index.ts
  src/drivers/registerBuiltinDrivers.ts
  src/hackrf/__tests__/useHackRFDevice.test.ts
  src/hackrf/hooks/useHackRFDevice.ts
Due: none

Format
  README.md
  docs/ACCESSIBILITY-TESTING-GUIDE.md
Due: none

update Monitor
  src/pages/Monitor.tsx
Due: Pages

Document WCAG 2.1 AA compliance and establish continuous accessibility governance (#151)
  README.md
  docs/ACCESSIBILITY-TESTING-GUIDE.md
  docs/UI-DESIGN-SPEC.md
  docs/decisions/0023-continuous-accessibility-compliance-modern-web-standards.md
Due: none

Update src/models/AirspyDeviceAdapter.ts
  src/models/AirspyDeviceAdapter.ts
Due: models, Device Models

Update docs/reference/airspy-integration.md
  docs/reference/airspy-integration.md
Due: none

Update docs/VISUALIZATION_USAGE.md
  docs/VISUALIZATION_USAGE.md
Due: none

Add WebUSB support for Airspy SDR devices (#153)
  docs/reference/airspy-integration.md
  src/models/AirspyDevice.ts
  src/models/AirspyDeviceAdapter.ts
  src/models/SDRDevice.ts
  src/models/__tests__/AirspyDevice.test.ts
  src/models/__tests__/SDRDevice.test.ts
  src/models/index.ts
Due: models, Device Models

Add composition helpers and presets for modular SDR visualization components (#152)
  docs/VISUALIZATION_QUICK_REF.md
  docs/VISUALIZATION_USAGE.md
  src/visualization/README.md
  src/visualization/__tests__/compositions.test.ts
  src/visualization/compositions.ts
  src/visualization/index.ts
Due: none

Updates
  .github/agents/dsp-visualization-specialist.yml
  .github/agents/e2e-test-specialist.yml
  .github/agents/repo-guardian.yml
  .github/agents/sdr-driver-expert.yml
  .serena/memories/POLICY_Component_Context_Graceful_Degradation.md
  src/__tests__/App.test.tsx
  src/components/StatusBar.tsx
  src/contexts/DeviceContext.tsx
  src/hooks/__tests__/useUSBDevice.test.tsx
  src/hooks/useUSBDevice.ts
  src/index.tsx
  src/pages/Analysis.tsx
  src/pages/Monitor.tsx
  src/panels/Devices.tsx
  src/panels/Measurements.tsx
  src/styles/layout.css
  src/visualization/components/EyeDiagram.tsx
  src/visualization/index.ts
Due: components, hooks, UI Components, Pages, Panels, React Hooks

Tweaks
  src/components/DeviceControlBar.tsx
  src/components/StatusBar.tsx
  src/pages/Analysis.tsx
  src/panels/Measurements.tsx
  src/visualization/components/EyeDiagram.tsx
Due: components, UI Components, Pages, Panels

Monitor progress
  .serena/memories/POLICY_VIZ_BUFFER_TAIL_AND_RAF.md
  docs/VISUALIZATION_USAGE.md
  src/App.tsx
  src/components/RenderingSettingsModal.tsx
  src/components/StatusBar.tsx
  src/drivers/HardwareSDRSource.ts
  src/hooks/useRenderer.ts
  src/hooks/useStatusMetrics.ts
  src/pages/Analysis.tsx
  src/pages/Monitor.tsx
  src/pages/RenderersDemo.tsx
  src/pages/VisualizationDemo.tsx
  src/visualization/ReplaySource.ts
  src/visualization/SimulatedSource.ts
  src/visualization/__tests__/DataSourceIntegration.test.tsx
  src/visualization/__tests__/ReplaySource.test.ts
  src/visualization/__tests__/SimulatedSource.test.ts
  src/visualization/__tests__/compositions.test.ts
  src/visualization/components/SpectrumExplorer.tsx
  src/visualization/compositions.ts
  src/visualization/interfaces.ts
Due: components, hooks, UI Components, Pages, React Hooks

Save
  jest.setup.ts
Due: none

Save
  src/constants.ts
  src/utils/webgl.ts
  src/visualization/components/SpectrumExplorer.tsx
  src/visualization/components/__tests__/SpectrumExplorer.test.tsx
  src/visualization/renderers/WebGLWaterfall.ts
Due: utils, WebGL Visualization

Implement performance optimizations for real-time SDR signal processing (#154)
  .serena/memories/AVOID_IMPLEMENTATION_RESULT_FILES.md
  asconfig.json
  docs/reference/README.md
  docs/reference/performance-benchmarks.md
  docs/reference/performance-optimization.md
  jest.config.ts
  package.json
  src/utils/__tests__/dsp.additional.test.ts
  src/utils/__tests__/dsp.optimizationStatus.test.ts
  src/utils/__tests__/dspWasm.test.ts
  src/utils/__tests__/sharedRingBuffer.test.ts
  src/utils/__tests__/webgpuCompute.test.ts
  src/utils/dsp.ts
  src/utils/dspWasm.ts
  src/utils/sharedRingBuffer.ts
  src/utils/webgpuCompute.ts
  webpack.config.ts
Due: utils, DSP Utilities

Formatting
  docs/decisions/0024-plugin-system-architecture.md
  src/lib/__tests__/BasePlugin.test.ts
  src/plugins/README.md
  src/plugins/device-drivers/ExampleDeviceDriverPlugin.ts
  src/plugins/example-usage.ts
  src/plugins/index.ts
  src/plugins/visualizations/WaterfallVisualizationPlugin.ts
Due: none

Update src/lib/PluginRegistry.ts
  src/lib/PluginRegistry.ts
Due: none

Add plugin system for extensible SDR features (#157)
  docs/decisions/0024-plugin-system-architecture.md
  src/lib/BasePlugin.ts
  src/lib/PluginRegistry.ts
  src/lib/__tests__/BasePlugin.test.ts
  src/lib/__tests__/PluginRegistry.test.ts
  src/plugins/README.md
  src/plugins/demodulators/FMDemodulatorPlugin.ts
  src/plugins/demodulators/__tests__/FMDemodulatorPlugin.test.ts
  src/plugins/device-drivers/ExampleDeviceDriverPlugin.ts
  src/plugins/example-usage.ts
  src/plugins/index.ts
  src/plugins/visualizations/WaterfallVisualizationPlugin.ts
  src/types/plugin.ts
Due: none

Document test infrastructure, fix timing-sensitive test, and add comprehensive hardware device tests (#158)
  .serena/memories/POLICY_VIZ_BUFFER_TAIL_AND_RAF.md
  docs/decisions/0024-plugin-system-architecture.md
  docs/reference/README.md
  docs/reference/test-strategy.md
  e2e/README-DEVICE-TESTS.md
  e2e/helpers/device-helpers.ts
  e2e/recordings-device.spec.ts
  e2e/scanner-device.spec.ts
  e2e/visualization-device.spec.ts
  src/lib/scanning/__tests__/priority-scanner.test.ts
Due: Signal Scanning

More
  .github/agents/DSP.agent.md
  .github/agents/Deep.agent.md
  .github/agents/SDR.agent.md
  .github/agents/e2e-test-specialist.agent.md
  .github/agents/problem-solver.agent.md
  .github/agents/repo-guardian.agent.md
  .github/agents/repo-guardian.yml
  assembly/dsp.ts
  e2e/visualization-simulated.spec.ts
  src/components/Monitor/PrimaryVisualization.tsx
  src/constants.ts
  src/contexts/NotificationContext.tsx
  src/contexts/index.ts
  src/hooks/index.ts
  src/hooks/useDsp.ts
  src/pages/Monitor.tsx
  src/types.ts
  src/utils/format.ts
  src/utils/performanceMonitor.ts
  src/workers/VisualizationWorkerManager.ts
  src/workers/dspWorker.ts
  src/workers/dspWorkerPool.ts
Due: utils, components, hooks, UI Components, Pages, React Hooks, Monitoring & Metrics

More
  .github/agents/Deep.agent.md
  .github/copilot-instructions.md
  .serena/memories/PLAYBOOK_CANVAS_CONTEXT_CHECKING_ANTIPATTERN.md
  .serena/memories/PLAYBOOK_CHROME_OOM_FIX_2025_10.md
  .serena/memories/PLAYBOOK_MONITOR_INFINITE_LOOP_2025_10.md
  src/components/Monitor/PrimaryVisualization.tsx
  src/hooks/useDsp.ts
  src/models/MockSDRDevice.ts
  src/pages/Monitor.tsx
  src/workers/VisualizationWorkerManager.ts
Due: models, components, hooks, UI Components, Pages, React Hooks, Device Models

Visualization
  src/hooks/useDsp.ts
  src/models/MockSDRDevice.ts
Due: models, hooks, React Hooks, Device Models

Format
  docs/NAVIGATION_GUIDE.md
  docs/README.md
  docs/explanation/sdr-architecture-overview.md
  docs/explanation/webusb-browser-integration.md
  docs/how-to/add-new-sdr-device.md
  docs/how-to/debug-webusb.md
  docs/how-to/optimize-dsp-performance.md
  docs/tutorials/01-getting-started.md
  docs/tutorials/02-first-visualization.md
Due: none

Add Diátaxis documentation framework with tutorials and guides (#159)
  README.md
  docs/NAVIGATION_GUIDE.md
  docs/README.md
  docs/explanation/README.md
  docs/explanation/sdr-architecture-overview.md
  docs/explanation/webusb-browser-integration.md
  docs/how-to/README.md
  docs/how-to/add-new-sdr-device.md
  docs/how-to/debug-webusb.md
  docs/how-to/optimize-dsp-performance.md
  docs/tutorials/01-getting-started.md
  docs/tutorials/02-first-visualization.md
  docs/tutorials/README.md
Due: none

Format
  .github/FIRST_TIME_CONTRIBUTOR_CHECKLIST.md
  .github/ISSUE_TEMPLATE/documentation.md
  .github/ISSUE_TEMPLATE/feature_request.md
  COMMUNITY.md
  CONTRIBUTORS.md
  README.md
  docs/COMMUNITY_ENGAGEMENT.md
  docs/reference/airspy-integration.md
Due: none

quality
  src/App.tsx
  src/components/AudioControls.tsx
  src/components/StatusBar.tsx
  src/pages/Monitor.tsx
Due: components, UI Components, Pages

Fix tests
  src/components/AudioControls.tsx
  src/components/StatusBar.tsx
  src/components/__tests__/StatusBar.test.tsx
  src/pages/Monitor.tsx
Due: components, UI Components, Pages

Lint
  src/App.tsx
  src/components/StatusBar.tsx
  src/pages/Monitor.tsx
  src/styles/tokens.css
Due: components, UI Components, Pages

Format
  .github/ISSUE_TEMPLATE/documentation.md
  .github/agents/DSP.agent.md
  .github/agents/Deep.agent.md
  .github/agents/SDR.agent.md
  .github/agents/e2e-test-specialist.agent.md
  .github/agents/problem-solver.agent.md
  .github/agents/repo-guardian.agent.md
  .serena/memories/memory_usage.md
  e2e/README.md
  e2e/accessibility.spec.ts
  e2e/monitor-comprehensive.spec.ts
  e2e/navigation-and-panels.spec.ts
  e2e/scanner-comprehensive.spec.ts
  e2e/visualization-simulated.spec.ts
  e2e/workspaces-comprehensive.spec.ts
  src/App.tsx
  src/components/Monitor/PrimaryVisualization.tsx
  src/contexts/NotificationContext.tsx
  src/contexts/index.ts
  src/hooks/useDsp.ts
  src/pages/Monitor.tsx
  src/styles/tokens.css
  src/utils/performanceMonitor.ts
  src/workers/dspWorker.ts
  src/workers/dspWorkerPool.ts
Due: utils, components, hooks, UI Components, Pages, React Hooks, Monitoring & Metrics

Fixes?
  e2e/visualization-simulated.spec.ts
  eslint.config.mjs
  src/App.tsx
  src/components/FrequencyDisplay.tsx
  src/components/Monitor/PrimaryVisualization.tsx
  src/components/ShortcutsOverlay.tsx
  src/components/StatusBar.tsx
  src/hooks/useDsp.ts
  src/models/MockSDRDevice.ts
  src/pages/Monitor.tsx
  src/styles/tokens.css
  src/types/dom-augmentations.d.ts
  src/visualization/renderers/WebGLSpectrum.ts
  src/visualization/renderers/WebGLWaterfall.ts
  src/workers/dspWorkerPool.ts
Due: models, components, hooks, UI Components, Pages, React Hooks, Device Models

Tidy
  .github/agents/Tool.agent.md
  .github/copilot-instructions.md
  README.md
  eslint.config.mjs
  src/components/FrequencyDisplay.tsx
  src/components/Monitor/PrimaryVisualization.tsx
  src/components/StatusBar.tsx
  src/components/__tests__/StatusBar.test.tsx
  src/hooks/useDetection.ts
  src/hooks/useDsp.ts
  src/models/AirspyDeviceAdapter.ts
  src/models/MockSDRDevice.ts
  src/models/RTLSDRDeviceAdapter.ts
  src/pages/Analysis.tsx
  src/pages/Monitor.tsx
  src/pages/Scanner.tsx
  src/visualization/components/SpectrumExplorer.tsx
  src/visualization/renderers/WebGLSpectrum.ts
  src/workers/dspWorkerPool.ts
  src/workers/visualization-renderer.worker.ts
Due: models, components, hooks, UI Components, Pages, React Hooks, Device Models

Formatting and Consistency
  .github/agents/Tool.agent.md
  README.md
  e2e/README.md
  src/components/FrequencyDisplay.tsx
  src/components/Monitor/PrimaryVisualization.tsx
  src/components/StatusBar.tsx
  src/hooks/useDsp.ts
  src/models/AirspyDeviceAdapter.ts
  src/models/MockSDRDevice.ts
  src/models/RTLSDRDeviceAdapter.ts
  src/workers/dspWorkerPool.ts
Due: models, components, hooks, UI Components, React Hooks, Device Models

Path conditions:
  utils: any of: src/utils/, but not: src/index.tsx, src/**/index.ts, src/**/*.d.ts, src/workers/**, assembly/**, dist/**, node_modules/**
  models: any of: src/models/, but not: src/index.tsx, src/**/index.ts, src/**/*.d.ts, src/workers/**, assembly/**, dist/**, node_modules/**
  components: any of: src/components/, but not: src/index.tsx, src/**/index.ts, src/**/*.d.ts, src/workers/**, assembly/**, dist/**, node_modules/**
  hooks: any of: src/hooks/, but not: src/index.tsx, src/**/index.ts, src/**/*.d.ts, src/workers/**, assembly/**, dist/**, node_modules/**
  UI Components: any of: src/components/**, but not: src/index.tsx, src/**/index.ts, src/**/*.d.ts, src/workers/**, assembly/**, dist/**, node_modules/**
  Pages: any of: src/pages/**, but not: src/index.tsx, src/**/index.ts, src/**/*.d.ts, src/workers/**, assembly/**, dist/**, node_modules/**
  Panels: any of: src/panels/**, but not: src/index.tsx, src/**/index.ts, src/**/*.d.ts, src/workers/**, assembly/**, dist/**, node_modules/**
  React Hooks: any of: src/hooks/**, but not: src/index.tsx, src/**/index.ts, src/**/*.d.ts, src/workers/**, assembly/**, dist/**, node_modules/**
  Device Models: any of: src/models/**, but not: src/index.tsx, src/**/index.ts, src/**/*.d.ts, src/workers/**, assembly/**, dist/**, node_modules/**
  DSP Core: any of: src/lib/dsp/**, but not: src/index.tsx, src/**/index.ts, src/**/*.d.ts, src/workers/**, assembly/**, dist/**, node_modules/**
  DSP Utilities: any of: src/utils/dsp.ts, src/utils/dspProcessing.ts, src/utils/dspWasm.ts, src/utils/dspBenchmark.ts, but not: src/index.tsx, src/**/index.ts, src/**/*.d.ts, src/workers/**, assembly/**, dist/**, node_modules/**
  Signal Detection: any of: src/lib/detection/**, but not: src/index.tsx, src/**/index.ts, src/**/*.d.ts, src/workers/**, assembly/**, dist/**, node_modules/**
  Signal Scanning: any of: src/lib/scanning/**, but not: src/index.tsx, src/**/index.ts, src/**/*.d.ts, src/workers/**, assembly/**, dist/**, node_modules/**
  Signal Measurement: any of: src/lib/measurement/**, but not: src/index.tsx, src/**/index.ts, src/**/*.d.ts, src/workers/**, assembly/**, dist/**, node_modules/**
  Signal Decoders: any of: src/utils/rdsDecoder.ts, src/utils/p25decoder.ts, but not: src/index.tsx, src/**/index.ts, src/**/*.d.ts, src/workers/**, assembly/**, dist/**, node_modules/**
  Audio Processing: any of: src/utils/audioStream.ts, but not: src/index.tsx, src/**/index.ts, src/**/*.d.ts, src/workers/**, assembly/**, dist/**, node_modules/**
  Recording & Playback: any of: src/utils/iqRecorder.ts, but not: src/index.tsx, src/**/index.ts, src/**/*.d.ts, src/workers/**, assembly/**, dist/**, node_modules/**
  Speech Recognition: any of: src/utils/speechRecognition.ts, but not: src/index.tsx, src/**/index.ts, src/**/*.d.ts, src/workers/**, assembly/**, dist/**, node_modules/**
  Rendering Engine: any of: src/lib/render/**, but not: src/index.tsx, src/**/index.ts, src/**/*.d.ts, src/workers/**, assembly/**, dist/**, node_modules/**
  WebGL Visualization: any of: src/utils/webgl.ts, but not: src/index.tsx, src/**/index.ts, src/**/*.d.ts, src/workers/**, assembly/**, dist/**, node_modules/**
  WebGPU Visualization: any of: src/utils/webgpu.ts, but not: src/index.tsx, src/**/index.ts, src/**/*.d.ts, src/workers/**, assembly/**, dist/**, node_modules/**
  Web Workers: any of: src/lib/workers/**, but not: src/index.tsx, src/**/index.ts, src/**/*.d.ts, src/workers/**, assembly/**, dist/**, node_modules/**
  Monitoring & Metrics: any of: src/lib/monitoring/**, src/utils/performanceMonitor.ts, but not: src/index.tsx, src/**/index.ts, src/**/*.d.ts, src/workers/**, assembly/**, dist/**, node_modules/**
  Core Utilities: any of: src/lib/utils/**, src/utils/logger.ts, src/utils/device-utils.ts, but not: src/index.tsx, src/**/index.ts, src/**/*.d.ts, src/workers/**, assembly/**, dist/**, node_modules/**
  Test Infrastructure: any of: src/utils/testHelpers.ts, src/utils/testMemoryManager.ts, src/utils/signalGenerator.ts, but not: src/index.tsx, src/**/index.ts, src/**/*.d.ts, src/workers/**, assembly/**, dist/**, node_modules/**
