Repository alexthemitchell/rad.io: changes, and which Codecov flags are due for each by the changed paths.
All: utils, models, components, hooks, UI Components, Pages, Panels, React Hooks, Device Models, DSP Core, DSP Utilities, Signal Detection, Signal Scanning, Signal Measurement, Signal Decoders, Audio Processing, Recording & Playback, Speech Recognition, Rendering Engine, WebGL Visualization, WebGPU Visualization, Web Workers, Monitoring & Metrics, Core Utilities, Test Infrastructure

Pass
  .github/agents/SDR.agent.md
  .github/agents/problem-solver.agent.md
  .github/agents/repo-guardian.agent.md
  eslint.config.mjs
  src/lib/BasePlugin.ts
  src/lib/measurement/channel-power.ts
  src/lib/workers/dsp-worker.ts
  src/utils/dspProcessing.ts
  src/utils/p25decoder.ts
Due: utils, DSP Utilities, Signal Measurement, Signal Decoders, Web Workers

Simplify persistence docs
  .github/agents/Tool.agent.md
  ROADMAP.md
  docs/decisions/0005-storage-strategy-recordings-state.md
  docs/decisions/0009-state-management-pattern.md
  docs/decisions/0010-offline-first-architecture.md
  docs/decisions/0018-ux-information-architecture.md
  src/components/RenderingSettingsModal.tsx
  src/components/TopAppBar.tsx
  src/pages/Monitor.tsx
  src/pages/Settings.tsx
Due: components, UI Components, Pages

Update docs/P25_TRANSMISSION_LOGGING.md
  docs/P25_TRANSMISSION_LOGGING.md
Due: none

Update src/utils/p25TransmissionLog.ts
  src/utils/p25TransmissionLog.ts
Due: utils

Formatting
  .github/agents/Deep.agent.md
  .github/agents/SDR.agent.md
  .github/agents/problem-solver.agent.md
  .github/agents/repo-guardian.agent.md
  .prettierrc
  .serena/memories/REFERENCE_SettingsContext.md
  eslint.config.mjs
  jest.config.ts
  package-lock.json
  package.json
  src/App.tsx
  src/components/RenderingSettingsModal.tsx
  src/components/TopAppBar.tsx
  src/components/__tests__/TopAppBar.test.tsx
  src/contexts/SettingsContext.tsx
  src/contexts/index.ts
  src/pages/Monitor.tsx
  src/pages/RenderersDemo.tsx
  src/pages/Settings.tsx
  src/pages/VisualizationDemo.tsx
  src/pages/__tests__/Monitor.test.tsx
  src/pages/__tests__/Settings.test.tsx
  src/pages/__tests__/VisualizationDemo.test.tsx
  src/utils/dspProcessing.ts
  src/utils/p25decoder.ts
Due: utils, components, UI Components, Pages, DSP Utilities, Signal Decoders

Remove demo references
  .github/FIRST_TIME_CONTRIBUTOR_CHECKLIST.md
  COMMUNITY.md
  docs/COMMUNITY_ENGAGEMENT.md
  docs/ONBOARDING.md
  docs/VISUALIZATION_ARCHITECTURE.md
  docs/VISUALIZATION_INTEGRATION_GUIDE.md
  docs/tutorials/02-first-visualization.md
  e2e/README-SIMULATED-TESTS.md
  e2e/visualization-simulated.spec.ts
  src/App.tsx
  src/pages/RenderersDemo.tsx
  src/pages/VisualizationDemo.tsx
  src/pages/__tests__/VisualizationDemo.test.tsx
  src/visualization/README.md
Due: Pages

Update src/contexts/SettingsContext.tsx
  src/contexts/SettingsContext.tsx
Due: none

Update src/components/RenderingSettingsModal.tsx
  src/components/RenderingSettingsModal.tsx
Due: components, UI Components

Save
  .github/agents/Tool.agent.md
  src/hooks/__tests__/useUSBDevice.test.tsx
  src/pages/RenderersDemo.tsx
  src/pages/VisualizationDemo.tsx
  src/pages/__tests__/VisualizationDemo.test.tsx
  src/utils/__tests__/webgpuCompute.test.ts
  src/workers/__tests__/VisualizationWorkerManager.test.ts
Due: utils, hooks, Pages, React Hooks

Lint and typecheck
  src/hooks/useFrequencyScanner.ts
  src/utils/p25TransmissionLog.ts
  src/utils/p25decoder.ts
Due: utils, hooks, React Hooks, Signal Decoders

Stat
  .github/FIRST_TIME_CONTRIBUTOR_CHECKLIST.md
  .github/agents/DSP.agent.md
  .github/agents/SDR.agent.md
  .github/agents/Tool.agent.md
  .github/agents/e2e-test-specialist.agent.md
  .github/agents/repo-guardian.agent.md
  .markdownlint.jsonc
  COMMUNITY.md
  CONTRIBUTORS.md
  README.md
  SUPPORT.md
  docs/P25_TRANSMISSION_LOGGING.md
  docs/features/signal-classification.md
  docs/reference/airspy-integration.md
  docs/tutorials/02-first-visualization.md
  src/__tests__/utils/p25decoder.extra.test.ts
  src/hooks/useFrequencyScanner.ts
  src/utils/p25decoder.ts
Due: utils, hooks, React Hooks, Signal Decoders

Quality
  .prettierignore
  .prettierrc
  .stylelintrc.json
  eslint.config.mjs
  src/components/TransmissionLogViewer.tsx
  src/contexts/SettingsContext.tsx
  src/hooks/useDSPPipeline.ts
  src/utils/dspProcessing.ts
  src/utils/p25decoder.ts
Due: utils, components, hooks, UI Components, React Hooks, DSP Utilities, Signal Decoders

More linting
  README.md
  src/contexts/SettingsContext.tsx
  src/utils/dspProcessing.ts
  src/utils/p25decoder.ts
Due: utils, DSP Utilities, Signal Decoders

Ready?
  .github/FIRST_TIME_CONTRIBUTOR_CHECKLIST.md
  .github/agents/SDR.agent.md
  .github/agents/e2e-test-specialist.agent.md
  .github/agents/problem-solver.agent.md
  COMMUNITY.md
  CONTRIBUTORS.md
  README.md
  docs/P25_TRANSMISSION_LOGGING.md
  docs/VISUALIZATION_ARCHITECTURE.md
  docs/features/signal-classification.md
  docs/reference/airspy-integration.md
  docs/tutorials/02-first-visualization.md
  src/__tests__/utils/p25decoder.extra.test.ts
  src/components/__tests__/TalkgroupScanner.test.tsx
  src/components/__tests__/TransmissionLogViewer.test.tsx
  src/lib/workers/dsp-worker.ts
  src/pages/Monitor.tsx
  src/pages/__tests__/VisualizationDemo.test.tsx
  src/utils/__tests__/p25TransmissionLog.test.ts
  src/utils/dspProcessing.ts
  src/utils/p25decoder.ts
  src/workers/__tests__/VisualizationWorkerManager.test.ts
Due: utils, components, UI Components, Pages, DSP Utilities, Signal Decoders, Web Workers

Parallel e2e tests
  playwright.config.ts
  src/components/FrequencyScanner.tsx
  src/hooks/useFrequencyScanner.ts
  src/pages/Monitor.tsx
  src/visualization/components/Spectrum.tsx
  src/visualization/components/Waterfall.tsx
Due: components, hooks, UI Components, Pages, React Hooks

Lots of linting
  .github/agents/DSP.agent.md
  .github/agents/SDR.agent.md
  .github/agents/Tool.agent.md
  .github/agents/digital-signal-processing.agent.md
  .github/agents/documentation.agent.md
  .github/agents/software-defined-radio.agent.md
  .github/agents/tool-focused.agent.md
  README.md
  docs/reference/common-use-cases.md
  docs/reference/formula-reference.md
  docs/reference/frequency-allocations.md
  docs/reference/performance-optimization.md
  docs/tutorials/README.md
  e2e/README.md
  package.json
  playwright.config.ts
  src/components/TransmissionLogViewer.tsx
  src/components/__tests__/TransmissionLogViewer.test.tsx
  src/constants.ts
  src/hooks/__tests__/useFrequencyScanner.test.ts
  src/pages/Settings.tsx
  src/utils/p25TransmissionLog.ts
  src/utils/p25decoder.ts
Due: utils, components, hooks, UI Components, Pages, React Hooks, Signal Decoders

Format
  .github/agents/digital-signal-processing.agent.md
  .github/agents/documentation.agent.md
  .github/agents/software-defined-radio.agent.md
  README.md
  docs/NAVIGATION_GUIDE.md
  docs/ONBOARDING.md
  docs/README.md
  docs/reference/common-use-cases.md
  docs/reference/formula-reference.md
  docs/reference/frequency-allocations.md
  docs/reference/performance-optimization.md
  docs/testing/CI_OPTIMIZATION.md
  docs/tutorials/02-first-visualization.md
  src/components/__tests__/TransmissionLogViewer.test.tsx
Due: components, UI Components

Optimize WASM DSP pipeline with SIMD for 2-4x speedup (#177)
  assembly/dsp.ts
  docs/decisions/0015-simd-dsp-optimization.md
  docs/how-to/optimize-dsp-performance.md
  docs/reference/wasm-runtime-flags.md
  src/utils/__tests__/dsp.simd.performance.test.ts
  src/utils/dspWasm.ts
Due: utils, DSP Utilities

Add interactive markers and peak hold analysis to spectrum visualizations (#175)
  README.md
  docs/MARKER_ANALYSIS_FEATURES.md
  e2e/marker-analysis.spec.ts
  src/__tests__/MarkerTable.test.tsx
  src/components/MarkerTable.tsx
  src/visualization/components/SpectrumExplorer.tsx
Due: components, UI Components

Add P25 Phase 2 talkgroup logging and priority-based scanning (#178)
  docs/P25_TRANSMISSION_LOGGING.md
  src/lib/scanning/__tests__/talkgroup-priority-scanner.test.ts
  src/lib/scanning/index.ts
  src/lib/scanning/talkgroup-priority-scanner.ts
  src/pages/Scanner.tsx
  src/styles/components/transmission-log.css
  src/styles/main.css
Due: Pages, Signal Scanning

Implement plugin/extension system for rad.io (#179)
  README.md
  docs/PLUGIN_SYSTEM_SUMMARY.md
  docs/how-to/README.md
  docs/how-to/create-demodulator-plugin.md
  docs/how-to/create-device-driver-plugin.md
  docs/how-to/create-visualization-plugin.md
  docs/reference/plugin-api.md
  docs/tutorials/03-creating-plugins.md
  docs/tutorials/README.md
  templates/plugin-templates/README.md
  templates/plugin-templates/demodulator-plugin-template.ts
  templates/plugin-templates/device-driver-plugin-template.ts
  templates/plugin-templates/visualization-plugin-template.ts
  tsconfig.json
Due: none

Add PSK31 and FT8 digital mode demodulators with UI (#180)
  README.md
  docs/how-to/use-digital-modes.md
  eslint.config.mjs
  src/components/DigitalModeDisplay.tsx
  src/components/__tests__/DigitalModeDisplay.test.tsx
  src/lib/dsp/priority-queue.ts
  src/plugins/demodulators/FT8DemodulatorPlugin.ts
  src/plugins/demodulators/PSK31DemodulatorPlugin.ts
  src/plugins/demodulators/__tests__/FT8DemodulatorPlugin.test.ts
  src/plugins/demodulators/__tests__/PSK31DemodulatorPlugin.test.ts
  src/styles/components/digital-mode.css
  src/styles/main.css
Due: components, UI Components, DSP Core

Update src/hooks/useFrequencyInput.ts
  src/hooks/useFrequencyInput.ts
Due: hooks, React Hooks

quality check
  src/components/TopAppBar.tsx
  src/pages/Analysis.tsx
  src/pages/Monitor.tsx
  src/pages/Scanner.tsx
  src/panels/Devices.tsx
  src/store/index.ts
  src/store/slices/deviceSlice.ts
  src/store/slices/frequencySlice.ts
  src/store/slices/notificationSlice.ts
  src/store/slices/settingsSlice.ts
Due: components, UI Components, Pages, Panels

More linting
  .github/FIRST_TIME_CONTRIBUTOR_CHECKLIST.md
  COMMUNITY.md
  CONTRIBUTORS.md
  README.md
  docs/reference/airspy-integration.md
  docs/reference/zustand-migration-guide.md
  templates/plugin-templates/README.md
Due: none

Update .serena/memories/GUIDE_UI_BUSINESS_LOGIC_SEPARATION.md
  .serena/memories/GUIDE_UI_BUSINESS_LOGIC_SEPARATION.md
Due: none

Refactor: Extract business logic from UI components into custom hooks (#186)
  .serena/memories/GUIDE_UI_BUSINESS_LOGIC_SEPARATION.md
  src/components/RadioControls.tsx
  src/hooks/__tests__/useFrequencyInput.test.ts
  src/hooks/__tests__/useReception.test.ts
  src/hooks/index.ts
  src/hooks/useFrequencyInput.ts
  src/hooks/useReception.ts
  src/pages/Monitor.tsx
  src/types/dom-augmentations.d.ts
Due: components, hooks, UI Components, Pages, React Hooks

PR fixes
  .github/agents/digital-signal-processing.agent.md
  .github/agents/e2e-test-specialist.agent.md
  .github/agents/problem-solver.agent.md
  .github/agents/repo-guardian.agent.md
  .github/copilot-instructions.md
  src/__tests__/App.test.tsx
  src/components/StatusBar.tsx
  src/components/__tests__/TopAppBar.test.tsx
  src/contexts/DeviceContext.tsx
  src/contexts/FrequencyContext.tsx
  src/contexts/NotificationContext.tsx
  src/contexts/SettingsContext.tsx
  src/contexts/index.ts
  src/hooks/useDeviceIntegration.ts
  src/hooks/useStatusMetrics.ts
  src/pages/__tests__/Analysis.test.tsx
  src/pages/__tests__/Monitor.test.tsx
  src/pages/__tests__/Scanner.test.tsx
  src/panels/__tests__/Devices.test.tsx
Due: components, hooks, UI Components, Pages, Panels, React Hooks

Quality checks
  docs/MARKER_ANALYSIS_FEATURES.md
  docs/NAVIGATION_GUIDE.md
  docs/decisions/0016-signal-decoder-architecture.md
  docs/decisions/0017-comprehensive-accessibility-patterns.md
  docs/decisions/0018-ux-information-architecture.md
  docs/decisions/0019-viridis-colormap-waterfall-visualization.md
  docs/decisions/0024-plugin-system-architecture.md
  docs/explanation/sdr-architecture-overview.md
  docs/hackrf-initialization-guide.md
  docs/how-to/optimize-dsp-performance.md
  docs/reference/plugin-api.md
  docs/reference/wasm-runtime-flags.md
  src/contexts/DeviceContext.tsx
Due: none

Save
  CONTRIBUTORS.md
  assembly/dsp.ts
  docs/COMMUNITY_ENGAGEMENT.md
  docs/decisions/0004-signal-processing-library-selection.md
  docs/decisions/0006-testing-strategy-framework-selection.md
  docs/decisions/0008-web-audio-api-architecture.md
  docs/decisions/0009-state-management-pattern.md
  docs/decisions/0011-error-handling-resilience-strategy.md
  docs/decisions/0012-parallel-fft-worker-pool.md
  docs/decisions/0013-automatic-signal-detection-system.md
  docs/decisions/0014-automatic-frequency-scanning.md
  docs/decisions/0015-simd-dsp-optimization.md
  docs/decisions/0015-visualization-rendering-strategy.md
  jest-performance-reporter.mjs
  src/components/ErrorBoundary.tsx
  src/components/SignalStrengthMeter.tsx
  src/components/StatusBar.tsx
  src/contexts/DeviceContext.tsx
  src/contexts/index.ts
  src/hooks/useDeviceIntegration.ts
  src/hooks/useStatusMetrics.ts
  src/index.html
  src/pages/Monitor.tsx
  webpack.config.ts
Due: components, hooks, UI Components, Pages, React Hooks

Fix webpack config
  assembly/dsp.ts
  src/pages/Monitor.tsx
  src/visualization/renderers/CanvasWaterfall.ts
  webpack.config.ts
Due: Pages

Implement DC offset correction for SDR signal processing pipeline (#188)
  .serena/memories/REFERENCE_DC_Correction_Implementation.md
  assembly/dsp.ts
  docs/reference/dc-offset-correction.md
  src/utils/__tests__/dcCorrection.test.ts
  src/utils/dspProcessing.ts
  src/utils/dspWasm.ts
Due: utils, DSP Utilities

Starting HMR work
  e2e/hmr-reload-stability.spec.ts
  e2e/hot-reload-recovery.spec.ts
  src/App.tsx
  src/__tests__/App.test.tsx
  src/hackrf/HackRFOne.ts
  src/hackrf/HackRFOneAdapter.ts
  src/hooks/useDeviceIntegration.ts
  src/hooks/useDsp.ts
  src/index.tsx
  src/pages/Monitor.tsx
  src/styles/components/status-bar.css
  src/visualization/renderers/CanvasWaterfall.ts
  src/visualization/renderers/WebGLWaterfall.ts
  src/workers/dspWorker.ts
  src/workers/dspWorkerPool.ts
Due: hooks, Pages, React Hooks

Add automatic signal detection with real-time spectrum annotations (#190)
  src/components/Monitor/PrimaryVisualization.tsx
  src/components/SignalTooltip.css
  src/components/SignalTooltip.tsx
  src/hooks/__tests__/useSignalDetection.test.ts
  src/hooks/useSignalDetection.ts
  src/pages/Monitor.tsx
  src/visualization/renderers/SpectrumAnnotations.ts
Due: components, hooks, UI Components, Pages, React Hooks

Things that work
  .github/agents/hardware.agent.md
  .github/prompts/README.md
  .github/prompts/test-real-hardware-e2e.md
  .serena/memories/memory_leak_fixes_nov2025.md
  ARCHITECTURE.md
  CONTRIBUTING.md
  src/components/Monitor/PrimaryVisualization.tsx
  src/components/RenderingSettingsModal.tsx
  src/hackrf/HackRFOne.ts
  src/hooks/useDeviceIntegration.ts
  src/hooks/useDsp.ts
  src/pages/Settings.tsx
  src/utils/webgl.ts
  src/visualization/renderers/WebGLWaterfall.ts
  src/workers/dspWorkerPool.ts
Due: utils, components, hooks, UI Components, Pages, React Hooks, WebGL Visualization

Fix lint errors after merge
  src/components/Monitor/PrimaryVisualization.tsx
  src/utils/webgl.ts
  src/visualization/renderers/WebGLWaterfall.ts
Due: utils, components, UI Components, WebGL Visualization

Fix tests
  .github/agents/hardware.agent.md
  .github/agents/tool-focused.agent.md
  src/hackrf/HackRFOneAdapter.ts
Due: none

Path conditions:
  utils: any of: src/utils/, but not: src/index.tsx, src/**/index.ts, src/**/*.d.ts, src/workers/**, assembly/**, dist/**, node_modules/**
  models: any of: src/models/, but not: src/index.tsx, src/**/index.ts, src/**/*.d.ts, src/workers/**, assembly/**, dist/**, node_modules/**
  components: any of: src/components/, but not: src/index.tsx, src/**/index.ts, src/**/*.d.ts, src/workers/**, assembly/**, dist/**, node_modules/**
  hooks: any of: src/hooks/, but not: src/index.tsx, src/**/index.ts, src/**/*.d.ts, src/workers/**, assembly/**, dist/**, node_modules/**
  UI Components: any of: src/components/**, but not: src/index.tsx, src/**/index.ts, src/**/*.d.ts, src/workers/**, assembly/**, dist/**, node_modules/**
  Pages: any of: src/pages/**, but not: src/index.tsx, src/**/index.ts, src/**/*.d.ts, src/workers/**, assembly/**, dist/**, node_modules/**
  Panels: any of: src/panels/**, but not: src/index.tsx, src/**/index.ts, src/**/*.d.ts, src/workers/**, assembly/**, dist/**, node_modules/**
  React Hooks: any of: src/hooks/**, but not: src/index.tsx, src/**/index.ts, src/**/*.d.ts, src/workers/**, assembly/**, dist/**, node_modules/**
  Device Models: any of: src/models/**, but not: src/index.tsx, src/**/index.ts, src/**/*.d.ts, src/workers/**, assembly/**, dist/**, node_modules/**
  DSP Core: any of: src/lib/dsp/**, but not: src/index.tsx, src/**/index.ts, src/**/*.d.ts, src/workers/**, assembly/**, dist/**, node_modules/**
  DSP Utilities: any of: src/utils/dsp.ts, src/utils/dspProcessing.ts, src/utils/dspWasm.ts, src/utils/dspBenchmark.ts, but not: src/index.tsx, src/**/index.ts, src/**/*.d.ts, src/workers/**, assembly/**, dist/**, node_modules/**
  Signal Detection: any of: src/lib/detection/**, but not: src/index.tsx, src/**/index.ts, src/**/*.d.ts, src/workers/**, assembly/**, dist/**, node_modules/**
  Signal Scanning: any of: src/lib/scanning/**, but not: src/index.tsx, src/**/index.ts, src/**/*.d.ts, src/workers/**, assembly/**, dist/**, node_modules/**
  Signal Measurement: any of: src/lib/measurement/**, but not: src/index.tsx, src/**/index.ts, src/**/*.d.ts, src/workers/**, assembly/**, dist/**, node_modules/**
  Signal Decoders: any of: src/utils/rdsDecoder.ts, src/utils/p25decoder.ts, but not: src/index.tsx, src/**/index.ts, src/**/*.d.ts, src/workers/**, assembly/**, dist/**, node_modules/**
  Audio Processing: any of: src/utils/audioStream.ts, but not: src/index.tsx, src/**/index.ts, src/**/*.d.ts, src/workers/**, assembly/**, dist/**, node_modules/**
  Recording & Playback: any of: src/utils/iqRecorder.ts, but not: src/index.tsx, src/**/index.ts, src/**/*.d.ts, src/workers/**, assembly/**, dist/**, node_modules/**
  Speech Recognition: any of: src/utils/speechRecognition.ts, but not: src/index.tsx, src/**/index.ts, src/**/*.d.ts, src/workers/**, assembly/**, dist/**, node_modules/**
  Rendering Engine: any of: src/lib/render/**, but not: src/index.tsx, src/**/index.ts, src/**/*.d.ts, src/workers/**, assembly/**, dist/**, node_modules/**
  WebGL Visualization: any of: src/utils/webgl.ts, but not: src/index.tsx, src/**/index.ts, src/**/*.d.ts, src/workers/**, assembly/**, dist/**, node_modules/**
  WebGPU Visualization: any of: src/utils/webgpu.ts, but not: src/index.tsx, src/**/index.ts, src/**/*.d.ts, src/workers/**, assembly/**, dist/**, node_modules/**
  Web Workers: any of: src/lib/workers/**, but not: src/index.tsx, src/**/index.ts, src/**/*.d.ts, src/workers/**, assembly/**, dist/**, node_modules/**
  Monitoring & Metrics: any of: src/lib/monitoring/**, src/utils/performanceMonitor.ts, but not: src/index.tsx, src/**/index.ts, src/**/*.d.ts, src/workers/**, assembly/**, dist/**, node_modules/**
  Core Utilities: any of: src/lib/utils/**, src/utils/logger.ts, src/utils/device-utils.ts, but not: src/index.tsx, src/**/index.ts, src/**/*.d.ts, src/workers/**, assembly/**, dist/**, node_modules/**
  Test Infrastructure: any of: src/utils/testHelpers.ts, src/utils/testMemoryManager.ts, src/utils/signalGenerator.ts, but not: src/index.tsx, src/**/index.ts, src/**/*.d.ts, src/workers/**, assembly/**, dist/**, node_modules/**
