Repository alexthemitchell/rad.io: changes, and which Codecov flags are due for each by the changed paths.
All: utils, models, components, hooks

codecov.yml:

coverage:
  status:
    project:
      default:
        target: auto
        threshold: 1%
        base: auto
        if_ci_failed: error
    patch:
      default:
        target: 80%
        threshold: 5%
        if_ci_failed: error

comment:
  layout: "reach,diff,flags,tree,files"
  behavior: default
  require_changes: false
  require_base: false
  require_head: true

flags:
  utils:
    paths:
      - src/utils/
    carryforward: true
  models:
    paths:
      - src/models/
    carryforward: true
  components:
    paths:
      - src/components/
    carryforward: true
  hooks:
    paths:
      - src/hooks/
    carryforward: true

ignore:
  - "src/index.tsx"
  - "src/**/index.ts"
  - "src/**/*.d.ts"
  - "src/workers/**"
  - "assembly/**"
  - "dist/**"
  - "node_modules/**"

Consolidate and expand HackRF device initialization documentation (#115)
  .serena/memories/ARCHITECTURE.md
  .serena/memories/SERENA_MEMORY_BEST_PRACTICES.md
  docs/reference/hackrf-troubleshooting.md
  src/hackrf/HackRFOne.ts
Due: none

PR comments
  src/pages/Monitor.tsx
  src/panels/Devices.tsx
  src/utils/__tests__/dspWasm.test.ts
  src/utils/dspWasm.ts
Due: utils

Fix E2E test
  .serena/memories/ACCESSIBILITY_VIZ_TESTING_NOTES.md
  .serena/memories/ADR_COMPLIANCE_AUDIT_2025.md
  .serena/memories/AUDIO_PLAYBACK_IMPLEMENTATION.md
  e2e/accessibility.spec.ts
Due: none

Update src/pages/Settings.tsx
  src/pages/Settings.tsx
Due: none

Resolve PR Comments
  src/pages/Settings.tsx
  src/pages/__tests__/Settings.test.tsx
  src/panels/Devices.tsx
  src/utils/dsp.ts
  src/utils/usb.ts
Due: utils

Update src/hackrf/util.ts
  src/hackrf/util.ts
Due: none

Update src/models/SDRDevice.ts
  src/models/SDRDevice.ts
Due: models

Update src/hackrf/HackRFOne.ts
  src/hackrf/HackRFOne.ts
Due: none

Update src/utils/dspWasm.ts
  src/utils/dspWasm.ts
Due: utils

Update src/panels/Bookmarks.tsx
  src/panels/Bookmarks.tsx
Due: none

Format
  src/hackrf/HackRFOne.ts
Due: none

PR #92: Address outstanding review comments
  src/panels/Devices.tsx
  src/panels/Measurements.tsx
  src/styles/main.css
  src/styles/tokens.css
  src/utils/dspWasm.ts
  src/utils/id.ts
  src/utils/usb.ts
Due: utils

Add comprehensive testing and documentation for HackRF driver (#116)
  .serena/memories/SERENA_MEMORY_BEST_PRACTICES.md
  docs/hackrf-initialization-guide.md
  src/hackrf/HackRFOne.ts
  src/hackrf/__tests__/useHackRFDevice.test.ts
  src/hackrf/__tests__/util.test.ts
  src/hackrf/util.ts
  src/models/SDRDevice.ts
Due: models

PR #92: Post-commit polish
  assembly/tsconfig.json
  src/panels/Devices.tsx
  src/utils/dspWasm.ts
  tsconfig.json
Due: utils

Update src/utils/usb.ts
  src/utils/usb.ts
Due: utils

Update src/utils/frequency.ts
  src/utils/frequency.ts
Due: utils

Update src/styles/tokens.css
  src/styles/tokens.css
Due: none

Lingering PR comments
  src/styles/tokens.css
  src/utils/dspWasm.ts
  src/utils/frequency.ts
  src/utils/usb.ts
Due: utils

Format
  .github/workflows/quality-checks.yml
  .serena/memories/CODECOV_PATCH_GATE_STRATEGY_UI_AND_DSP.md
  .serena/memories/PLAYWRIGHT_WEBSERVER_AUTOSTART_FOR_E2E.md
  .serena/memories/TS_INDEXING_AND_TIMER_TESTS_PLAYBOOK.md
  src/panels/Bookmarks.tsx
  src/utils/frequency.ts
Due: utils

Add ReplaySource for deterministic recorded data playback (#122)
  .serena/memories/DATASOURCE_ABSTRACTION_IMPLEMENTATION.md
  src/visualization/README.md
  src/visualization/ReplaySource.ts
  src/visualization/__tests__/DataSourceIntegration.test.tsx
  src/visualization/__tests__/ReplaySource.test.ts
  src/visualization/index.ts
Due: none

Update src/utils/index.ts
  src/utils/index.ts
Due: none

Format
  .serena/memories/DATASOURCE_ABSTRACTION_IMPLEMENTATION.md
  src/utils/dspWasm.ts
Due: utils

Update src/utils/id.ts
  src/utils/id.ts
Due: utils

Update src/utils/__tests__/dspWasm.binding.test.ts
  src/utils/__tests__/dspWasm.binding.test.ts
Due: utils

Update src/utils/dsp.ts
  src/utils/dsp.ts
Due: utils

Final checks
  tsconfig.json
Due: none

Fix bookmarks
  src/panels/Bookmarks.tsx
Due: none

Setup AI assisted testing
  .github/prompts/README.md
  .github/prompts/test-real-hardware-e2e.md
  .serena/memories/PLAYWRIGHT_WEBUSB_LIMITATION_2025.md
  docs/e2e-tests.md
  e2e/monitor-real-manual.md
  e2e/monitor-real.spec.ts
  playwright.config.ts
Due: none

Introduce processing pipeline for visualization algorithms (#123)
  .serena/memories/COVERAGE_THRESHOLDS_REQUIREMENT.md
  assembly/dsp.ts
  assembly/index.ts
  docs/dsp-processing-pipeline.md
  src/hooks/useDSPPipeline.ts
  src/utils/__tests__/dspProcessing.test.ts
  src/utils/__tests__/dspWasm.binding.spectrogram.test.ts
  src/utils/__tests__/dspWasm.binding.test.ts
  src/utils/__tests__/dspWasm.binding.waveformOut.test.ts
  src/utils/dspBenchmark.ts
  src/utils/dspProcessing.ts
  src/utils/dspWasm.ts
Due: utils, hooks

Update src/visualization/renderers/WebGLSpectrum.ts
  src/visualization/renderers/WebGLSpectrum.ts
Due: none

Update src/visualization/renderers/CanvasWaterfall.ts
  src/visualization/renderers/CanvasWaterfall.ts
Due: none
