Repository alexthemitchell/rad.io: changes, and which Codecov flags are due for each by the changed paths.
All: utils, models, components, hooks, UI Components, Pages, Panels, React Hooks, Device Models, DSP Core, DSP Utilities, Signal Detection, Signal Scanning, Signal Measurement, Signal Decoders, Audio Processing, Recording & Playback, Speech Recognition, Rendering Engine, WebGL Visualization, WebGPU Visualization, Web Workers, Monitoring & Metrics, Core Utilities, Test Infrastructure

Fix tests and format
  .github/FIRST_TIME_CONTRIBUTOR_CHECKLIST.md
  .github/copilot-instructions.md
  .serena/memories/memory_leak_fixes_nov2025.md
  COMMUNITY.md
  CONTRIBUTING.md
  README.md
  assembly/dsp.ts
  docs/COMMUNITY_ENGAGEMENT.md
  docs/reference/airspy-integration.md
  e2e/hmr-reload-stability.spec.ts
  e2e/hot-reload-recovery.spec.ts
  src/hackrf/HackRFOne.ts
  src/hackrf/HackRFOneAdapter.ts
  src/hackrf/__tests__/HackRFErrorRecovery.test.ts
  src/store/__tests__/store.test.ts
Due: none

Update docs/dsp-pipeline-summary.md
  docs/dsp-pipeline-summary.md
Due: none

Update docs/decisions/0025-dsp-pipeline-architecture.md
  docs/decisions/0025-dsp-pipeline-architecture.md
Due: none

Format
  src/hackrf/HackRFOne.ts
  src/hackrf/HackRFOneAdapter.ts
Due: none

Reduce expectations for HackRFOneAdapter
  .github/copilot-instructions.md
  jest.config.ts
Due: none

Format
  .github/copilot-instructions.md
Due: none

Fix production build: Remove hardcoded development mode from SWC config
  .swcrc
Due: none

Fix production build: Remove hardcoded development mode from SWC config (#195)
  .swcrc
Due: none

Implement ATSC 8-VSB demodulator module in TypeScript (#218)
  src/plugins/demodulators/ATSC8VSBDemodulator.examples.ts
  src/plugins/demodulators/ATSC8VSBDemodulator.md
  src/plugins/demodulators/ATSC8VSBDemodulator.ts
  src/plugins/demodulators/__tests__/ATSC8VSBDemodulator.test.ts
  src/plugins/index.ts
Due: none

Add ATSC Channel Scanner for Digital TV Broadcasts (#221)
  docs/features/ATSC-Scanner.md
  src/components/ATSCScanner.tsx
  src/components/SignalTypeSelector.tsx
  src/components/__tests__/ATSCScanner.test.tsx
  src/hooks/__tests__/useATSCScanner.test.ts
  src/hooks/useATSCScanner.ts
  src/pages/Scanner.tsx
  src/pages/__tests__/Scanner.test.tsx
  src/utils/__tests__/atscChannels.test.ts
  src/utils/atscChannelStorage.ts
  src/utils/atscChannels.ts
  src/utils/exportUtils.ts
Due: utils, components, hooks, UI Components, Pages, React Hooks

Add MPEG-2 transport stream parser for ATSC (#222)
  .serena/memories/REFERENCE_MPEG2_TS_Parser.md
  src/parsers/TransportStreamParser.examples.ts
  src/parsers/TransportStreamParser.ts
  src/parsers/__tests__/TransportStreamParser.test.ts
  src/parsers/index.ts
  src/plugins/demodulators/__tests__/ATSC8VSBDemodulator.test.ts
Due: none

Add ATSC Player page with channel selection and WebCodecs foundation (#223)
  docs/atsc-player-implementation.md
  src/App.tsx
  src/components/Navigation.tsx
  src/hooks/__tests__/useATSCPlayer.test.ts
  src/hooks/index.ts
  src/hooks/useATSCPlayer.ts
  src/pages/ATSCPlayer.tsx
  src/pages/__tests__/ATSCPlayer.test.tsx
Due: components, hooks, UI Components, Pages, React Hooks

Integrate WebCodecs API for MPEG-2/H.264 video decoding in ATSC streams (#224)
  src/decoders/ATSCVideoDecoder.ts
  src/decoders/VideoRenderer.ts
  src/decoders/__tests__/ATSCVideoDecoder.test.ts
  src/decoders/__tests__/VideoRenderer.test.ts
  src/decoders/index.ts
  src/hooks/useATSCPlayer.ts
Due: hooks, React Hooks

Update src/decoders/AC3Decoder.ts
  src/decoders/AC3Decoder.ts
Due: none

Save
  e2e/monitor-comprehensive.spec.ts
  e2e/monitor-gridlines.spec.ts
  e2e/monitor-resize.spec.ts
  e2e/navigation-and-panels.spec.ts
  e2e/visualization-dev.seed.spec.ts
  e2e/visualization-device.spec.ts
  jest.config.ts
  src/components/Monitor/PrimaryVisualization.tsx
  src/components/Monitor/VisualizationControls.tsx
  src/components/StatusBar.tsx
  src/index.tsx
  src/lib/dsp/__tests__/pfbChannelizer.worker.test.ts
  src/pages/Monitor.tsx
  src/store/__tests__/rdsCache.test.ts
  src/store/rdsCache.ts
  src/store/slices/settingsSlice.ts
  src/utils/__tests__/coverageSupport.test.ts
  src/utils/__tests__/multiStationFM.scan.test.ts
  src/utils/__tests__/rdsDecoder.correction.test.ts
  src/utils/__tests__/rdsDecoder.parse.test.ts
  src/utils/coverageSupport.ts
  src/utils/rdsDecoder.ts
  src/visualization/__tests__/grid.test.ts
  src/visualization/components/IQConstellation.tsx
  src/visualization/components/Spectrogram.tsx
  src/visualization/components/__tests__/IQConstellation.test.tsx
  src/visualization/components/__tests__/IQConstellation.visibility.test.tsx
  src/visualization/grid.ts
  src/visualization/renderers/CanvasSpectrum.ts
  src/visualization/renderers/CanvasWaterfall.ts
  src/visualization/renderers/SpectrumAnnotations.ts
  src/visualization/renderers/WebGLSpectrum.ts
  src/visualization/renderers/__tests__/SpectrumAnnotations.test.ts
  src/workers/visualization-renderer.worker.ts
  src/workers/visualization.worker.ts
Due: utils, components, UI Components, Pages, DSP Core, Signal Decoders

Format
  src/utils/__tests__/coverageSupport.test.ts
Due: utils

Update e2e/monitor-resize.spec.ts
  e2e/monitor-resize.spec.ts
Due: none

Update e2e/visualization-dev.seed.spec.ts
  e2e/visualization-dev.seed.spec.ts
Due: none

Implement full AC-3 audio decoder for ATSC broadcasts with WebCodecs (#225)
  .serena/memories/REFERENCE_AC3_Decoder.md
  docs/reference/ac3-decoder.md
  src/decoders/AC3Decoder.ts
  src/decoders/ATSCVideoDecoder.ts
  src/decoders/__tests__/AC3Decoder.test.ts
  src/decoders/index.ts
  src/decoders/types.ts
Due: none

Add ATSC signal analysis and visualization components (#227)
  src/components/analysis/ATSCConstellation.tsx
  src/components/analysis/ATSCEyeDiagram.tsx
  src/components/analysis/ATSCSpectrum.tsx
  src/components/analysis/BERCounter.tsx
  src/components/analysis/DataSegmentMonitor.tsx
  src/components/analysis/EqualizerVisualizer.tsx
  src/components/analysis/MERDisplay.tsx
  src/components/analysis/README.md
  src/components/analysis/__tests__/ATSCConstellation.test.tsx
  src/components/analysis/__tests__/ATSCEyeDiagram.test.tsx
  src/components/analysis/__tests__/ATSCSpectrum.test.tsx
  src/components/analysis/__tests__/BERCounter.test.tsx
  src/components/analysis/__tests__/DataSegmentMonitor.test.tsx
  src/components/analysis/__tests__/EqualizerVisualizer.test.tsx
  src/components/analysis/__tests__/MERDisplay.test.tsx
  src/components/analysis/index.ts
  src/components/analysis/types.ts
  src/plugins/demodulators/ATSC8VSBDemodulator.ts
Due: components, UI Components

Implement Electronic Program Guide from ATSC PSIP Data (#228)
  src/components/EPG/ATSCProgramGuide.tsx
  src/components/EPG/ChannelRow.tsx
  src/components/EPG/ProgramCell.tsx
  src/components/EPG/ProgramDetailModal.tsx
  src/components/EPG/ProgramGrid.tsx
  src/components/EPG/README.md
  src/components/EPG/__tests__/ATSCProgramGuide.test.tsx
  src/components/EPG/__tests__/ProgramDetailModal.test.tsx
  src/components/EPG/index.ts
  src/hooks/index.ts
  src/hooks/useEPG.ts
  src/pages/ATSCPlayer.tsx
  src/utils/__tests__/epgStorage.test.ts
  src/utils/__tests__/psipTextDecoder.test.ts
  src/utils/epgStorage.ts
  src/utils/index.ts
  src/utils/psipTextDecoder.ts
Due: utils, components, hooks, UI Components, Pages, React Hooks

save
  eslint.config.mjs
  package.json
  src/atsc/baseband/TrellisDecoder.ts
  src/atsc/baseband/deinterleaver.ts
  src/atsc/baseband/index.ts
  src/atsc/baseband/pipeline.ts
  src/atsc/baseband/reedSolomon.ts
  src/atsc/baseband/trellisViterbi.ts
  src/atsc/baseband/tsFramer.ts
  src/hackrf/HackRFOne.ts
  src/hooks/useATSCPlayer.ts
Due: hooks, React Hooks

Add CEA-708 Closed Caption Rendering for ATSC Broadcasts (#229)
  .serena/memories/REFERENCE_CEA708_Implementation.md
  docs/reference/cea-708-captions.md
  src/components/CaptionPreferences.tsx
  src/components/__tests__/CaptionPreferences.test.tsx
  src/decoders/CEA708Decoder.ts
  src/decoders/CaptionRenderer.ts
  src/decoders/__tests__/CEA708Decoder.test.ts
  src/decoders/__tests__/CaptionRenderer.test.ts
  src/decoders/index.ts
  src/hooks/useATSCPlayer.ts
Due: components, hooks, UI Components, React Hooks

Performance
  .github/copilot-instructions.md
  docs/hackrf-initialization-guide.md
  package.json
  src/components/Monitor/PrimaryVisualization.tsx
  src/components/__tests__/CaptionPreferences.test.tsx
  src/decoders/CEA708Decoder.ts
  src/decoders/__tests__/CEA708Decoder.test.ts
  src/hackrf/HackRFOne.ts
  src/hackrf/HackRFOneAdapter.ts
  src/hackrf/__tests__/HackRFMocked.test.ts
  src/hackrf/__tests__/HackRFOne.test.ts
  src/hackrf/__tests__/HackRFOneAdapter.test.ts
  src/hooks/__tests__/useATSCPlayer.test.ts
  src/hooks/useDsp.ts
  src/hooks/useReception.ts
  src/visualization/renderers/WebGLSpectrum.ts
Due: components, hooks, UI Components, React Hooks

Unify DSP primitives and implement comprehensive DSP library (ADR-0026) (#236)
  ARCHITECTURE.md
  docs/decisions/0026-unified-dsp-primitives-architecture.md
  jest.config.ts
  src/hooks/useDSPPipeline.ts
  src/lib/dsp/README.md
  src/lib/dsp/analysis.ts
  src/lib/dsp/conversions.ts
  src/lib/dsp/fft.ts
  src/lib/dsp/filters.ts
  src/lib/dsp/index.ts
  src/lib/dsp/primitives.ts
  src/lib/dsp/types.ts
  src/utils/__tests__/dcCorrection.test.ts
  src/utils/__tests__/dspProcessing.test.ts
  src/utils/dspBenchmark.ts
  src/utils/dspProcessing.ts
  src/utils/dspProcessing.ts.backup
  src/visualization/processors/FFTProcessor.ts
  src/visualization/processors/SpectrogramProcessor.ts
Due: utils, hooks, React Hooks, DSP Core, DSP Utilities

Update src/styles/components/diagnostics-overlay.css
  src/styles/components/diagnostics-overlay.css
Due: none

Adjust global function coverage threshold
  jest.config.ts
Due: none

Add runtime diagnostics bus and health overlay for signal pipeline (#237)
  docs/diagnostics-implementation.md
  jest.config.ts
  src/components/DiagnosticsOverlay.tsx
  src/pages/ATSCPlayer.tsx
  src/pages/Monitor.tsx
  src/pages/__tests__/ATSCPlayer.test.tsx
  src/pages/__tests__/Monitor.test.tsx
  src/parsers/TransportStreamParser.ts
  src/plugins/demodulators/ATSC8VSBDemodulator.ts
  src/store/index.ts
  src/store/slices/__tests__/diagnosticsSlice.test.ts
  src/store/slices/diagnosticsSlice.ts
  src/styles/components/diagnostics-overlay.css
  src/styles/main.css
Due: components, UI Components, Pages

Document state and persistence patterns across application (#239)
  .github/copilot-instructions.md
  ARCHITECTURE.md
  CONTRIBUTING.md
  README.md
  src/hooks/useATSCScanner.ts
  src/hooks/useEPG.ts
  src/store/slices/deviceSlice.ts
  src/store/slices/diagnosticsSlice.ts
  src/store/slices/frequencySlice.ts
  src/store/slices/notificationSlice.ts
  src/store/slices/settingsSlice.ts
  src/utils/atscChannelStorage.ts
  src/utils/epgStorage.ts
Due: utils, hooks, React Hooks

Refactor monolithic modules into focused submodules (#240)
  ARCHITECTURE.md
  src/pages/ATSCPlayer.tsx
  src/pages/ATSCPlayer/AudioTrackSelector.tsx
  src/pages/ATSCPlayer/ChannelSelector.tsx
  src/pages/ATSCPlayer/PlaybackControls.tsx
  src/pages/ATSCPlayer/ProgramInfoDisplay.tsx
  src/pages/ATSCPlayer/SignalQualityMeters.tsx
  src/pages/ATSCPlayer/VideoPlayer.tsx
  src/pages/ATSCPlayer/index.ts
  src/parsers/TransportStreamParser.ts
  src/parsers/ts/descriptors.ts
  src/parsers/ts/index.ts
  src/parsers/ts/psi.ts
  src/parsers/ts/psip.ts
  src/parsers/ts/tsPacket.ts
  src/parsers/ts/types.ts
Due: Pages

Add ATSC golden path guide with reusable InfoBanner component and E2E tests (#238)
  README.md
  ROADMAP.md
  docs/NAVIGATION_GUIDE.md
  docs/tutorials/atsc-golden-path.md
  e2e/atsc-golden-path.spec.ts
  src/components/EPG/ATSCProgramGuide.tsx
  src/components/InfoBanner.tsx
  src/components/Navigation.tsx
  src/components/__tests__/InfoBanner.test.tsx
  src/components/__tests__/Navigation.test.tsx
  src/components/index.ts
  src/pages/ATSCPlayer.tsx
  src/pages/Analysis.tsx
  src/pages/Help.tsx
  src/pages/Scanner.tsx
  src/pages/__tests__/Help.test.tsx
  src/styles/components/info-banner.css
  src/styles/main.css
  src/styles/tokens.css
Due: components, UI Components, Pages

Unify hardware driver HAL and consolidate HackRF under src/drivers (#241)
  jest.config.ts
  src/drivers/README.md
  src/drivers/__tests__/DriverConformance.test.ts
  src/drivers/hackrf/DeviceInfo.ts
  src/drivers/hackrf/HackRFOne.ts
  src/drivers/hackrf/HackRFOneAdapter.ts
  src/drivers/hackrf/StreamOptions.ts
  src/drivers/hackrf/__tests__/HackRFErrorRecovery.test.ts
  src/drivers/hackrf/__tests__/HackRFHardware.test.ts
  src/drivers/hackrf/__tests__/HackRFMocked.test.ts
  src/drivers/hackrf/__tests__/HackRFOne.test.ts
  src/drivers/hackrf/__tests__/HackRFOneAdapter.test.ts
  src/drivers/hackrf/__tests__/README.md
  src/drivers/hackrf/__tests__/useHackRFDevice.test.ts
  src/drivers/hackrf/__tests__/util.test.ts
  src/drivers/hackrf/constants.ts
  src/drivers/hackrf/hooks/useHackRFDevice.ts
  src/drivers/hackrf/index.ts
  src/drivers/hackrf/poll.ts
  src/drivers/hackrf/util.ts
  src/drivers/index.ts
  src/drivers/registerBuiltinDrivers.ts
  src/hooks/index.ts
  src/hooks/useHackRFDevice.ts
  src/models/index.ts
Due: hooks, React Hooks

Migrate audio processing to AudioWorklet with AGC, squelch, and extended demodulation (#242)
  jest.config.ts
  src/utils/AUDIO_STREAM_API.md
  src/utils/__tests__/audioResampler.test.ts
  src/utils/__tests__/audioStream.coverage.test.ts
  src/utils/audioResampler.ts
  src/utils/audioStream.ts
  src/utils/audioWorkletManager.ts
  src/workers/audio-processor.worklet.ts
Due: utils, Audio Processing

Establish DSP pipeline architecture with Workers, SAB, and WASM boundaries (#243)
  docs/decisions/0027-dsp-pipeline-architecture.md
  docs/reference/wasm-dsp-coverage.md
  jest-performance-reporter.mjs
  public/_headers
  src/lib/monitoring/__tests__/pipeline-metrics.test.ts
  src/lib/monitoring/__tests__/waterfall-benchmark.test.ts
  src/lib/monitoring/pipeline-metrics.ts
  webpack.config.ts
Due: Monitoring & Metrics

save
  src/hackrf/HackRFOne.ts
  src/hackrf/HackRFOneAdapter.ts
Due: none

Add DSP environment detection and fallback system for GitHub Pages deployment (#244)
  ARCHITECTURE.md
  docs/DEPLOYMENT.md
  docs/DSP_ENVIRONMENT_IMPLEMENTATION_SUMMARY.md
  docs/decisions/0028-dsp-environment-detection.md
  src/App.tsx
  src/__tests__/App.test.tsx
  src/components/DSPStatus.tsx
  src/hooks/useDSPInitialization.ts
  src/panels/Diagnostics.tsx
  src/panels/__tests__/Diagnostics.test.tsx
  src/store/index.ts
  src/store/slices/diagnosticsSlice.ts
  src/styles/dsp-status.css
  src/utils/__tests__/dspEnvironment.test.ts
  src/utils/dspEnvironment.ts
Due: utils, components, hooks, UI Components, Panels, React Hooks

Saver
  .serena/memories/ATSC_PLAYBACK_ERROR_INVESTIGATION_2025-11-17.md
  .serena/memories/ATSC_PLAYBACK_ERROR_SOLUTION_2025-11-17.md
  .serena/memories/HACKRF_CONTROL_TRANSFER_DEBUG_2025-11-17.md
  .serena/memories/HACKRF_PAGE_RELOAD_FIX_2025-01-17.md
  .serena/memories/hackrf-firmware-reset-solution.md
  e2e/hackrf-page-reload.spec.ts
  src/drivers/hackrf/HackRFOne.ts
  src/drivers/hackrf/__tests__/HackRFErrorRecovery.test.ts
  src/drivers/hackrf/__tests__/HackRFMocked.test.ts
  src/drivers/hackrf/__tests__/HackRFOne.test.ts
  src/drivers/hackrf/__tests__/HackRFStateManagement.test.ts
  src/hooks/useATSCPlayer.ts
  src/store/index.ts
Due: hooks, React Hooks

Path conditions:
  utils: any of: src/utils/, but not: src/index.tsx, src/**/index.ts, src/**/*.d.ts, src/workers/**, assembly/**, dist/**, node_modules/**
  models: any of: src/models/, but not: src/index.tsx, src/**/index.ts, src/**/*.d.ts, src/workers/**, assembly/**, dist/**, node_modules/**
  components: any of: src/components/, but not: src/index.tsx, src/**/index.ts, src/**/*.d.ts, src/workers/**, assembly/**, dist/**, node_modules/**
  hooks: any of: src/hooks/, but not: src/index.tsx, src/**/index.ts, src/**/*.d.ts, src/workers/**, assembly/**, dist/**, node_modules/**
  UI Components: any of: src/components/**, but not: src/index.tsx, src/**/index.ts, src/**/*.d.ts, src/workers/**, assembly/**, dist/**, node_modules/**
  Pages: any of: src/pages/**, but not: src/index.tsx, src/**/index.ts, src/**/*.d.ts, src/workers/**, assembly/**, dist/**, node_modules/**
  Panels: any of: src/panels/**, but not: src/index.tsx, src/**/index.ts, src/**/*.d.ts, src/workers/**, assembly/**, dist/**, node_modules/**
  React Hooks: any of: src/hooks/**, but not: src/index.tsx, src/**/index.ts, src/**/*.d.ts, src/workers/**, assembly/**, dist/**, node_modules/**
  Device Models: any of: src/models/**, but not: src/index.tsx, src/**/index.ts, src/**/*.d.ts, src/workers/**, assembly/**, dist/**, node_modules/**
  DSP Core: any of: src/lib/dsp/**, but not: src/index.tsx, src/**/index.ts, src/**/*.d.ts, src/workers/**, assembly/**, dist/**, node_modules/**
  DSP Utilities: any of: src/utils/dsp.ts, src/utils/dspProcessing.ts, src/utils/dspWasm.ts, src/utils/dspBenchmark.ts, but not: src/index.tsx, src/**/index.ts, src/**/*.d.ts, src/workers/**, assembly/**, dist/**, node_modules/**
  Signal Detection: any of: src/lib/detection/**, but not: src/index.tsx, src/**/index.ts, src/**/*.d.ts, src/workers/**, assembly/**, dist/**, node_modules/**
  Signal Scanning: any of: src/lib/scanning/**, but not: src/index.tsx, src/**/index.ts, src/**/*.d.ts, src/workers/**, assembly/**, dist/**, node_modules/**
  Signal Measurement: any of: src/lib/measurement/**, but not: src/index.tsx, src/**/index.ts, src/**/*.d.ts, src/workers/**, assembly/**, dist/**, node_modules/**
  Signal Decoders: any of: src/utils/rdsDecoder.ts, src/utils/p25decoder.ts, but not: src/index.tsx, src/**/index.ts, src/**/*.d.ts, src/workers/**, assembly/**, dist/**, node_modules/**
  Audio Processing: any of: src/utils/audioStream.ts, but not: src/index.tsx, src/**/index.ts, src/**/*.d.ts, src/workers/**, assembly/**, dist/**, node_modules/**
  Recording & Playback: any of: src/utils/iqRecorder.ts, but not: src/index.tsx, src/**/index.ts, src/**/*.d.ts, src/workers/**, assembly/**, dist/**, node_modules/**
  Speech Recognition: any of: src/utils/speechRecognition.ts, but not: src/index.tsx, src/**/index.ts, src/**/*.d.ts, src/workers/**, assembly/**, dist/**, node_modules/**
  Rendering Engine: any of: src/lib/render/**, but not: src/index.tsx, src/**/index.ts, src/**/*.d.ts, src/workers/**, assembly/**, dist/**, node_modules/**
  WebGL Visualization: any of: src/utils/webgl.ts, but not: src/index.tsx, src/**/index.ts, src/**/*.d.ts, src/workers/**, assembly/**, dist/**, node_modules/**
  WebGPU Visualization: any of: src/utils/webgpu.ts, but not: src/index.tsx, src/**/index.ts, src/**/*.d.ts, src/workers/**, assembly/**, dist/**, node_modules/**
  Web Workers: any of: src/lib/workers/**, but not: src/index.tsx, src/**/index.ts, src/**/*.d.ts, src/workers/**, assembly/**, dist/**, node_modules/**
  Monitoring & Metrics: any of: src/lib/monitoring/**, src/utils/performanceMonitor.ts, but not: src/index.tsx, src/**/index.ts, src/**/*.d.ts, src/workers/**, assembly/**, dist/**, node_modules/**
  Core Utilities: any of: src/lib/utils/**, src/utils/logger.ts, src/utils/device-utils.ts, but not: src/index.tsx, src/**/index.ts, src/**/*.d.ts, src/workers/**, assembly/**, dist/**, node_modules/**
  Test Infrastructure: any of: src/utils/testHelpers.ts, src/utils/testMemoryManager.ts, src/utils/signalGenerator.ts, but not: src/index.tsx, src/**/index.ts, src/**/*.d.ts, src/workers/**, assembly/**, dist/**, node_modules/**
